            <div class="cinema">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-xs-12 sinpadding">    
                            <p class="titulo">ESTOS SON LOS PREMIOS A LOS QUE PUEDES OPTAR SI TU MEJOR TÁCTICA RESULTA GANADORA. ¡NO DEJES DE PARTICIPAR PARA TENER MÁS OPCIONES DE CONSEGUIRLOS!</p>
                            <p class="text">¡LLÉVATE ESTE ESPECTACULAR LG Smart TV + 1 AÑO DE ESTADIO CDF, SI TU MEJOR TÁCTICA RESULTA GANADORA!</p>
                            <p><img src="images/tv-premios.png" alt=""></p>
                            <p class="color-rojo">LG SMART TV FHD 42" LB6500</p>
                            <ul class="caracteristicas">
                                <li><span>42LB6500</span></li>
                                <li><span>SMART TV CON WEBOS</span></li>
                                <li><span>CINEMA 3D</span></li>
                                <li><span>TIME MACHINE II</span></li>
                                <li><span>WIFI INCORPORADO</span></li>
                                <li><span>DUAL PLAY</span></li>
                            </ul>
                            <div class="tablafechas">
                                <div class="table"><h2>Sigue Atento la fecha de los <span>9</span> sorteos</h2></div>
                                <div class="table">
                                    <div class="cell"><span>Fecha</span> 1</div>
                                    <div class="cell">14-06-2014</div>
                                    <div class="cell">6 meses <img src="images/ecdf-logo-tabla.png" alt=""></div>
                                </div>
                                <div class="table">
                                    <div class="cell"><span>Fecha</span> 2</div>
                                    <div class="cell">19-06-2014</div>
                                    <div class="cell">6 meses <img src="images/ecdf-logo-tabla.png" alt=""></div>
                                </div>
                                <div class="table">
                                    <div class="cell"><span>Fecha</span> 3</div>
                                    <div class="cell">24-06-2014</div>
                                    <div class="cell">6 meses <img src="images/ecdf-logo-tabla.png" alt=""></div>
                                </div>
                                <div class="table">
                                    <div class="cell"><span>Fin</span> fase grupos</div>
                                    <div class="cell">25-06-2014</div>
                                    <div class="cell">1 <img src="images/lg-smarttv-winners.png" alt=""> + 1 año <img src="images/ecdf-logo-tabla.png" alt=""></div>
                                </div>
                                <div class="table">
                                    <div class="cell"><span>Fecha</span> 4</div>
                                    <div class="cell">29-06-2014</div>
                                    <div class="cell">6 meses <img src="images/ecdf-logo-tabla.png" alt=""></div>
                                </div>
                                <div class="table">
                                    <div class="cell"><span>Fecha</span> 5</div>
                                    <div class="cell">05-07-2014</div>
                                    <div class="cell">6 meses <img src="images/ecdf-logo-tabla.png" alt=""></div>
                                </div>
                                <div class="table">
                                    <div class="cell"><span>Fecha</span> 6</div>
                                    <div class="cell">09-07-2014</div>
                                    <div class="cell">6 meses <img src="images/ecdf-logo-tabla.png" alt=""></div>
                                </div>
                                <div class="table">
                                    <div class="cell"><span>Fecha</span> 7</div>
                                    <div class="cell">13-07-2014</div>
                                    <div class="cell">6 meses <img src="images/ecdf-logo-tabla.png" alt=""></div>
                                </div>
                                <div class="table">
                                    <div class="cell"><span>Fin</span> copa del mundo</div>
                                    <div class="cell">13-07-2014</div>
                                    <div class="cell">1 <img src="images/lg-smarttv-winners.png" alt=""> + 1 año <img src="images/ecdf-logo-tabla.png" alt=""></div>
                                </div>
                            </div>   
                        </div>
                    </div>       
                </div>
            </div>
            <div class="logos">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-xs-6 borde">
                            <a ui-sref="estadio_cdf" title="App Estadio CDF">
                                <img src="images/app-estadio.png">
                                <span>Ver más</span>
                            </a>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <a ui-sref="estadio_lg" title="App Estadio LG">
                                <img src="images/app-estadio-LG.png">
                                <span>Ver más</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>