<div class="cinema">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 sinpadding">    
                <p class="titulo">SMART, INSPIRADO EN TI. LG SMART TV</p>
                <p class="text">¡Llévate este espectacular smarttv lg + x meses de estadio cdf, si tu mejor táctica resulta ganadora!</p>
                <p class="color-rojo">LG SMART TV FHD 42" LB6500</p>
                <ul class="caracteristicas">
                    <li><span>42LB6500</span></li>
                    <li><span>SMART TV CON WEBOS</span></li>
                    <li><span>CINEMA 3D</span></li>
                    <li><span>TIME MACHINE II</span></li>
                    <li><span>WIFI INCORPORADO</span></li>
                    <li><span>DUAL PLAY</span></li>
                </ul>
                <img src="images/imagen-smart-tv.png" alt="Smart TV" class="smarttv">
            </div>
        </div>       
    </div>
</div>
<div class="logos">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-6 borde">
                <a ui-sref="estadio_cdf"><img src="images/app-estadio.png"></a>
                <p class="descripcion">No te pierdas los detalles de tus partidos y ligas favoritas, en tiempo real, con esta aplicación exclusiva para SmartTV LG. <a ui-sref="estadio_cdf">Ver más</a></p>
            </div>
            <div class="col-md-6 col-xs-6">
                <a ui-sref="estadio_lg"><img src="images/app-estadio-LG.png"></a>
                <p class="descripcion">No te pierdas los detalles de tus partidos y ligas favoritas, en tiempo real, con esta aplicación exclusiva para SmartTV LG. <a ui-sref="estadio_lg">Ver más</a></p>
            </div>
        </div>
    </div>
</div>