			<div class="top" id="paso89">
			    <div class="container">
			        <div class="row">
			            <div class="col-xs-6">
			                <img src="images/paso8app.png">
			            </div>
			            <div class="col-xs-6">
			                <img src="images/paso8estadio.png">
			            </div>  
			        </div>  
			    </div>
			</div>
			<div class="slide" id="paso89">
			    <div class="container">    
			        <div class="row">
			            <div class="col-md-12 col-xs-12">    
			                <div class="flexslider">
			                    <ul class="slides">
			                        <li><img src="images/lb-ecdf-01.jpg"/></li>
			                        <!-- <li><img src="images/lb-ecdf-02.jpg" /></li> -->
			                    </ul>
			                </div>
			            </div>
			        </div>       
			    </div>
			</div>
			<div class="azul" id="paso89">
			    <div class="container">
			        <div class="row">
			            <div class="col-md-12 col-xs-12">
			            	<p><span class="tit">CON ESTADIO CDF Y TU LG SMART TV</span></p>
                            <p>En la aplicación de Estadio CDF podrás disfrutar en vivo cada uno de los partidos que CDF transmita del Campeonato Nacional, de la Primera B y de Copa Chile.</p>
                            <p>También podrás ver en vivo y en estreno programas como Código Camarín, En el Nombre del Fútbol, La Fecha a Fondo, CDF Noticias, Cruzados, Azules, Eterno Campeón, La Vida en Verde y otros que podrán sumarse a la cartelera del Canal del Fútbol.</p>
                            <p>Existe una gran biblioteca de VOD para que puedas ver cuando quieras todos los partidos de cada fecha, incluso los que no fueron transmitidos en vivo de Primera, Primera B o Copa Chile, además de una colección de partidos históricos del fútbol chileno, como clásicos antiguos, finales de playoffs y más. En esta sección también estarán disponibles, para que así puedas ver en el momento que quieras los capítulos de tus programas favoritos, como En El Nombre del Fútbol, Show de Goles, La fecha a Fondo y mucho más. ¡Abónate!</p>
                            <p class="bold">¿Aún no tienes un LG Smart TV para disfrutar esta aplicación? Participa en #MiMejorTáctica y podrás ganarlo.</p>
			            </div>
			        </div>
			        <div class="row">
			            <div class="col-xs-8 col-xs-offset-2">
			                <a href="/mobile/mi-mejor-tactica/" class="boton" title="participar">participar</a>
			            </div>            
			        </div>
			    </div>
			</div>
	        <div class="logos">
	            <div class="container">
	                <div class="row">
	                    <div class="col-md-6 col-xs-6 borde">
	                        <a ui-sref="estadio_cdf" title="App Estadio CDF">
	                            <img src="images/app-estadio.png">
	                            <span>Ver más</span>
	                        </a>
	                    </div>
	                    <div class="col-md-6 col-xs-6">
	                        <a ui-sref="estadio_lg" title="App Estadio LG">
	                            <img src="images/app-estadio-LG.png">
	                            <span>Ver más</span>
	                        </a>
	                    </div>
	                </div>
	            </div>
	        </div>