		<div class="slide">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-12 col-xs-12">    
		                <img class="imgmobile" src="images/hinchas.png">
		                <p class="titulo"><span>¡ARMA TU MEJOR TÁCTICA</span>Y SAL A GANAR!</p>
		            </div>
		        </div>       
		    </div>
		</div>
		<div class="rojo">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-12 col-xs-12">
		                <p>Comparte Tu Mejor Táctica en 140 caracteres para que tu equipo gane. Participa y podrás ganar <span>6 meses de Estadio CDF y un Smart TV LG</span> Mientras más participes y más votos obtengas, más posibilidades tienes de ganar!</p>
		            </div>
		        </div>
		        <div class="row">
		            <div class="col-md-6 col-xs-6" ng-if="!currentUser">
		                <a href="/auth/facebook" target="_self" class="facebook" title="Ingresa por Facebook">INGRESA POR <img src="images/ico-facebook.png" alt="Facebook"></a>
		            </div>
		            <div class="col-md-6 col-xs-6" ng-if="!currentUser">
		                <a href="/auth/twitter" target="_self" class="twitter" title="Ingresa por Twitter">INGRESA POR <img src="images/ico-twitter.png" alt="Twitter"> </a>
		            </div>
		            <div class="col-md-6 col-xs-12 btn-concursar" ng-if="currentUser">
                		<a href="/mobile/mi-mejor-tactica/">Ir a concursar</a>
	              </li>
		            </div>
		        </div>
		        <div class="row">
		            <div class="col-md-12 col-xs-12">
		                <p class="bases">Acepto <a href="resources/Bases_Mi_Mejor_Tactica.pdf" download="Bases del concurso.pdf" target="_blank" class="ng-isolate-scope">Bases del concurso </a></p>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="logos">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-6 col-xs-6 borde">
		                <a ui-sref="estadio_cdf" title="App Estadio CDF">
		                    <img src="images/app-estadio.png">
		                    <span>Ver más</span>
		                </a>
		            </div>
		            <div class="col-md-6 col-xs-6">
		                <a ui-sref="estadio_lg" title="App Estadio LG">
		                    <img src="images/app-estadio-LG.png">
		                    <span>Ver más</span>
		                </a>
		            </div>
		        </div>
		    </div>
		</div>