<div class="slide">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 tope-esp">    
                <span class="gracias">Conoce cuáles son las tácticas que lideran el ranking</span>
                <p class="tacticas-rank">¿No estás aún entre ellas?  Comparte la tuya, obtén votos y gana.</p>
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <form class="buscador">
                            <input placeholder="Buscar usuarios">
                            <img src="images/lupa.png">    
                        </form>    
                    </div> 
                </div>    
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="tactica pad-esp">
                    <div class="container">
                        <div class="row">
                          <div class="col-xs-2 mTop">
                              <img src="images/pato.jpg" class="img-rounded">
                              <p class="num-rank">1</p>    
                          </div>    
                          <div class="col-xs-10 fondo-rojo">
                              <div class="row">
                                   <div class="col-xs-7"> 
                                        <p class="nombre mTop">Pato Castro <span class="negro">@patocastro</span></p>
                                        <p class="tit-tac-negro">#<span>mimejor</span> táctica</p>
                                    </div>  
                                    <div class="col-xs-5"> 
                                        <p class="votos mTop"><span>5895</span> Votos</p> 
                                    </div>
                              </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec purus in ante pretium blandit. Aliquam erat volutpat. Nulla libero lectus.</p>
                                <div class="row">
                                    <div class="col-xs-6"><a class="votar-negro"><img src="images/mano-votar.png" alt="icono mano">Votar</a></div>
                                    <div class="col-xs-6">
                                        <a class="face-circle"><img src="images/ico-facebook.png" alt="Facebook"></a>
                                        <a class="twitter-circle"><img src="images/ico-twitter.png" alt="Twitter"></a>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>    
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="tactica last-borde pad-esp">
                    <div class="container">
                        <div class="row fondo-rojo">
                          <div class="col-xs-2 mTop">
                              <img src="images/pato.jpg" class="img-rounded">
                              <p class="num-rank">2</p>
                            </div>    
                          <div class="col-xs-10 fondo-negro">
                              <div class="row">
                                  <div class="col-xs-7">
                                    <p class="nombre mTop">Pato Castro <span>@patocastro</span></p>
                                    <p class="tit-tac">#<span>mimejor</span> táctica</p>
                                  </div> 
                                  <div class="col-xs-5"> 
                                        <p class="votos mTop"><span>5895</span> Votos</p> 
                                  </div>
                              </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec purus in ante pretium blandit. Aliquam erat volutpat. Nulla libero lectus.</p>
                                <div class="row">
                                    <div class="col-xs-6"><a class="votar"><img src="images/mano-votar.png" alt="icono mano">Votar</a></div>
                                    <div class="col-xs-6">
                                        <a class="face-circle"><img src="images/ico-facebook.png" alt="Facebook"></a>
                                        <a class="twitter-circle"><img src="images/ico-twitter.png" alt="Twitter"></a>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>    
                </div>
            </div>
        </div> 
    </div>
</div>
    
<div class="tabla-pos">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-xs-7 borde">
                <p>Conoce nuestro último ganador y las fechas de los próximos sorteos</p>
            </div>
            <div class="col-md-5 col-xs-5">
                <a href="/mobile/ganadores/" class="btn-tabla-pos">ver fechas sorteo</a>
            </div>
        </div>
    </div>
</div>    

<div class="logos">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-6 borde">
                <a href="#">
                    <img src="images/app-estadio.png">
                    <span>Ver más</span>
                </a>
            </div>
            <div class="col-md-6 col-xs-6">
                <a href="#">
                    <img src="images/app-estadio-LG.png">
                    <span>Ver más</span>
                </a>
            </div>
        </div>
    </div>
</div>