<div class="slide">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 tope-esp">    
                <span class="gracias">Conoce cuáles son las tácticas que lideran el ranking</span>
                <p class="tacticas-rank">¿No estás aún entre ellas?  Comparte la tuya, obtén votos y gana.</p>
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <form class="buscador">
                            <input placeholder="Buscar usuarios" data-role="search">
                            <img src="images/lupa.png">    
                        </form>    
                    </div> 
                </div>    
            </div>
        </div>

        <!-- My -->
        <div  class="row" id="strategy_{{ my._id }}" ng-if="my" data-sgk-add-vote>
          <div class="col-md-12 col-xs-12">
              <div class="tactica pad-esp">
                  <div class="container">
                      <div class="row">
                        <div class="col-xs-2 mTop">
                            <img src="{{ my.user.avatar }}" class="img-rounded">
                            <p class="num-rank">{{ $index + 1 }}</p>    
                        </div>    
                        <div class="col-xs-10 fondo-rojo">
                            <div class="row">
                                 <div class="col-xs-7"> 
                                      <p class="nombre mTop">{{ my.user.name }} <span class="negro" ng-if="my.user.twitter_screen_name">{{ my.user.twitter_screen_name }}
                                      <p class="tit-tac-negro">#<span>mimejor</span> táctica</p>
                                  </div>  
                                  <div class="col-xs-5"> 
                                      <p class="votos mTop"><span>{{ my.votes.count }}</span> Votos</p> 
                                  </div>
                            </div>
                              <p>{{ my.content | removePlus }}</p>
                              <div class="row">
                                    <div class="col-xs-6">
                                      <a class="votar" href="javascript:{}" data-sgk-login ng-class="{voted: voted(my._id)}" ng-click="vote(my.user._id, my.sweepstake._id, my._id)">
                                        <img src="images/mano-votar.png" alt="icono mano">
                                        Votar
                                      </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a class="face-circle" href="javascript:{}" data-sgk-facebook-share="{{ my._id }}"><img src="images/ico-facebook.png" alt="Facebook"></a>
                                        <a class="twitter-circle" href="javascript:{}" data-sgk-twitter-share="{{ my._id }}"><img src="images/ico-twitter.png" alt="Twitter"></a>
                                    </div>
                                </div>
                          </div>  
                      </div>
                  </div>    
              </div>
          </div>
        </div>
        
        <!-- lista -->
        <div  class="row" id="strategy_{{ s._id }}" ng-repeat="s in strategies" data-sgk-add-vote>
          <div class="col-md-12 col-xs-12">
              <div class="tactica pad-esp">
                  <div class="container">
                      <div class="row fondo-rojo">
                        <div class="col-xs-2 mTop">
                            <img src="{{ s.user.avatar }}" class="img-rounded">
                            <p class="num-rank">{{ $index + 1 }}</p>    
                        </div>    
                        <div class="col-xs-10 fondo-negro">
                            <div class="row">
                                 <div class="col-xs-7"> 
                                      <p class="nombre mTop">{{ s.user.name }} <span class="negro" ng-if="s.user.twitter_screen_name">{{ s.user.twitter_screen_name }}
                                      <p class="tit-tac-negro">#<span>mimejor</span> táctica</p>
                                  </div>  
                                  <!-- <div class="col-xs-5"> 
                                      <p class="votos mTop"><span>5895</span> Votos</p> 
                                  </div> -->
                            </div>
                              <p>{{ s.content | removePlus }}</p>
                              <div class="row">
                                    <div class="col-xs-6">
                                      <a class="votar" href="javascript:{}" data-sgk-login ng-class="{voted: voted(s._id)}" ng-click="vote(s.user._id, s.sweepstake._id, s._id)">
                                        <img src="images/mano-votar.png" alt="icono mano">
                                        Votar
                                      </a>
                                    </div>
                                    

                                    <div class="col-xs-6">
                                        <a class="face-circle" href="javascript:{}" data-sgk-facebook-share="{{ s._id }}"><img src="images/ico-facebook.png" alt="Facebook"></a>
                                        <a class="twitter-circle" href="javascript:{}" data-sgk-twitter-share="{{ s._id }}"><img src="images/ico-twitter.png" alt="Twitter"></a>
                                    </div>
                                </div>
                          </div>  
                      </div>
                  </div>    
              </div>
          </div>
        </div>




    </div>
</div>
    
<div class="tabla-pos">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-xs-7 borde">
                <p>Conoce nuestro último ganador y las fechas de los próximos sorteos</p>
            </div>
            <div class="col-md-5 col-xs-5">
                <a href="/mobile/ganadores/" class="btn-tabla-pos">ver fechas sorteo</a>
            </div>
        </div>
    </div>
</div>    

<div class="logos">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-6 borde">
                <a href="#">
                    <img src="images/app-estadio.png">
                    <span>Ver más</span>
                </a>
            </div>
            <div class="col-md-6 col-xs-6">
                <a href="#">
                    <img src="images/app-estadio-LG.png">
                    <span>Ver más</span>
                </a>
            </div>
        </div>
    </div>
</div>