        <div class="slide">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-xs-12">    
                        <span class="gracias">Gracias por participar</span>
                        <p class="gracias-bajada">Revisa todas las tácticas y vota por la mejor.</p>
                        <div class="row">
                            <div class="col-xs-8 col-xs-offset-2">
                                <form class="buscador">
                                    <input placeholder="Buscar usuarios" data-role="search">
                                    <img src="images/lupa.png">    
                                </form>    
                            </div> 
                        </div>    
                    </div>
                </div>
                <div data-sgk-strategy-list></div>
            </div>
        </div>
    
        <div class="tabla-pos">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-xs-7 borde">
                        <p>Revisa la tabla de posiciones para ver quienes están liderando</p>
                    </div>
                    <div class="col-md-5 col-xs-5">
                        <a href="/mobile/tabla-de-posiciones/" class="btn-tabla-pos">tabla de posiciones</a>
                    </div>
                </div>
            </div>
        </div>    

        <div class="logos">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xs-6 borde">
                        <a ui-sref="estadio_cdf" title="App Estadio CDF">
                            <img src="images/app-estadio.png">
                            <span>Ver más</span>
                        </a>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <a ui-sref="estadio_lg" title="App Estadio LG">
                            <img src="images/app-estadio-LG.png">
                            <span>Ver más</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>