            <div class="slide" id="paso6">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <select id="selectfechas">
                            	<option value="" selected="selected">Ver fechas de Sorteo</option>
                            	<option value="">Fecha uno</option>
                            	<option value="">Fecha dos</option>
                            	<option value="">Fecha tres</option>
                            </select>
                            <div class="proxsorteo">
                            	<h2 ng-if="sweepstake.is_active">Próximo <span>Sorteo</span></h2>
            					<h2 ng-if="!sweepstake.is_active">Sorteo</h2>
                            	<div class="fechasorteo ng-binding"><span class="ng-binding">14</span> junio</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="azul" id="paso6">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <p>Si tu táctica futbolera para este sorteo se convierte en la ganadora, disfrutarás 6 meses gratis de los mejores partidos del fútbol nacional y los partidos chilenos en las distintas ligas donde participan, vía streaming, a través de Estadio CDF, aplicación exclusiva para Smart TV.</p>
                        </div>
                    </div>
                </div>
            </div>

			<div class="participa" id="paso6">
				<div class="container">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
							<h2>Participa y <span>podrás ganar</span></h2>
							<p><img src="images/logo-ecdf-wins.png" alt=""></p>
							<p><img src="images/screensohot_ecdf.png" alt=""></p>
							<div class="btn-participa"><a href="/mobile/mi-mejor-tactica/">participa</a></div>
						</div>
					</div>
				</div>
			</div>

	        <div class="logos">
	            <div class="container">
	                <div class="row">
	                    <div class="col-md-6 col-xs-6 borde">
	                        <a ui-sref="estadio_cdf" title="App Estadio CDF">
	                            <img src="images/app-estadio.png">
	                            <span>Ver más</span>
	                        </a>
	                    </div>
	                    <div class="col-md-6 col-xs-6">
	                        <a ui-sref="estadio_lg" title="App Estadio LG">
	                            <img src="images/app-estadio-LG.png">
	                            <span>Ver más</span>
	                        </a>
	                    </div>
	                </div>
	            </div>
	        </div>