            <div class="slide" id="paso6">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div data-sgk-select-sweepstakes></div>
                            <div class="proxsorteo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

	        <div class="logos">
	            <div class="container">
	                <div class="row">
	                    <div class="col-md-6 col-xs-6 borde">
	                        <a ui-sref="estadio_cdf" title="App Estadio CDF">
	                            <img src="images/app-estadio.png">
	                            <span>Ver más</span>
	                        </a>
	                    </div>
	                    <div class="col-md-6 col-xs-6">
	                        <a ui-sref="estadio_lg" title="App Estadio LG">
	                            <img src="images/app-estadio-LG.png">
	                            <span>Ver más</span>
	                        </a>
	                    </div>
	                </div>
	            </div>
	        </div>