@font-face {
    font-family: 'geogrotesque_rgregular';
    src: url('../fonts/geogtq-rg.eot');
    src: url('../fonts/geogtq-rg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geogtq-rg.woff') format('woff'),
         url('../fonts/geogtq-rg.ttf') format('truetype'),
         url('../fonts/geogtq-rg.svg#geogrotesque_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'geogrotesque_bdbold';
    src: url('../fonts/geogtq-bd.eot');
    src: url('../fonts/geogtq-bd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geogtq-bd.woff') format('woff'),
         url('../fonts/geogtq-bd.ttf') format('truetype'),
         url('../fonts/geogtq-bd.svg#geogrotesque_bdbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'geogrotesque_smbdsemibold';
    src: url('../fonts/geogtq-sb.eot');
    src: url('../fonts/geogtq-sb.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geogtq-sb.woff') format('woff'),
         url('../fonts/geogtq-sb.ttf') format('truetype'),
         url('../fonts/geogtq-sb.svg#geogrotesque_smbdsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'geogrotesque_lglight';
	src: url('../fonts/geogtq-lg.eot');
	src: url('../fonts/geogtq-lg.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/geogtq-lg.woff') format('woff'),
	     url('../fonts/geogtq-lg.ttf') format('truetype'),
	     url('../fonts/geogtq-lg.svg#geogrotesque_lglight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'geogrotesque_ullgultralight';
    src: url('../fonts/geogtq-ul.eot');
    src: url('../fonts/geogtq-ul.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geogtq-ul.woff') format('woff'),
         url('../fonts/geogtq-ul.ttf') format('truetype'),
         url('../fonts/geogtq-ul.svg#geogrotesque_ullgultralight') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
      background: url("../images/background.jpg") no-repeat 50% 0 #26242c;
      margin: 0;
      padding: 80px 0 0 0;
      font: normal 14px 'geogrotesque_rgregular';
      color: #fff;
      text-rendering: optimizeLegibility;
}
a, a:hover, a:focus{
    text-decoration: none;
    outline: none;
}
.contenedor{
	width: 960px;
	margin: 0 auto;
}
#menu{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 80px;
    background: rgba(0,0,0,0.5);
    z-index: 100;
}
#menu ul{
  display: table;
  width: 100%;
  height: 80px;
  background: url("../images/bkg-menu.png") no-repeat 50% 35.5%;
  margin: 0;
  padding: 0;
}
#menu ul.nav{
  width: 690px;
  float: left;
}
#menu ul.apps{
  float: right;
  width: 229px;
  background: none;
  border-left: 1px solid rgba(255,255,255,0.2);
  margin-left: 40px;
}
#menu ul li{
    display: table-cell;
    width: 20%;
    text-align: center;
}
#menu ul li a{
    color: #ee2642;
    display: block;
    padding: 18px 0 15px 0;
}
#menu ul li span{
    width: 21px;
    height: 21px;
    display: block;
    margin: 0 auto 10px auto;
    overflow: hidden;
    text-align: center;
    background: url("../images/bkg-li-menu.png") no-repeat 0 0;
    line-height: 1.55em;
    color: #000;
}
#menu ul.apps li.applg a span{
    background: url("../images/icon-apps.png") no-repeat 100% 0;
}
#menu ul.apps li.appecdf a span{
    background: url("../images/icon-apps.png") no-repeat 0 0;
}
#menu ul li.active a, #menu ul li a:hover{
    color: #fff;
}
#menu ul li.active span, #menu ul li a:hover span{
    background-position: 0 50%;
}
#menu ul li.inactive a, #menu ul li.inactive a:hover{
    color: #9b9b9b;
}
#menu ul li.inactive span, #menu ul li.inactive a:hover span{
    background-position: 0 100%;
}
#menu ul.apps li.applg a:hover span{
    background-position: 100% 100%;
}
#menu ul.apps li.appecdf a:hover span{
    background-position: 0 100%;
}
.relative{
    position: relative;
    z-index: 100;
}
.pattern{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url("../images/pattern.png") repeat 0 0;
}
.logos{
    padding: 30px 0;
    position: relative;
    z-index: 10;
    top: 0;
}
.logos a{
  color: #fff;
}
.logos a p span{
  font-family: 'geogrotesque_smbdsemibold';
  text-transform: uppercase;
}
.logos a:hover p span{
    text-decoration: underline;
}
.logos p{
    font: 12px 'geogrotesque_ullgultralight';
    line-height: 1.3em;
}
.logos .mmt{
    padding: 0 0 0 20px;
}
.logos .mmt img{
    -moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}
.logos .mmt img:hover{
    -moz-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -o-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -ms-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.logos .ecdf, .logos .elg{
    position: absolute;
    width: 230px;
    top: 35px;
}
.logos .elg{
    right: 0;
}
.logos .ecdf{
    right: 245px;
}
.hinchas{
    margin: -125px 0 0 0;
    position: relative;
    bottom: 0;
}
.forma{
    width: 798px;
    height: 244px;
    background: url("../images/forma-roja.png") no-repeat 0 0;
    margin: -78px auto 0 auto;
    position: relative;
    z-index: 10;
    bottom: 0;
}
.forma .number{
  display: block;
  width: 56px;
  height: 56px;
  text-align: center;
  font: normal 44px 'geogrotesque_lglight';
  background: url("../images/bkg-numero.png") no-repeat 0 0;
  color: #ee2642;
  position: absolute;
  left: 20px;
  top: 0;
}
.forma .txt{
    width: 480px;
    margin: 0 0 0 60px;
    padding: 35px 0 0 0;
}
.forma .txt h1{
    font: normal 18px 'geogrotesque_bdbold';
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    text-align: center;
}
.forma .txt p{
    font: 13px 'geogrotesque_ullgultralight';
    text-transform: uppercase;
    margin: 20px 0;
    line-height: 1.6em;
    padding: 0;
    text-align: center;
}
.forma .txt p strong{
    font:normal 13px 'geogrotesque_smbdsemibold';
}
.forma .txt p span{
    display: block;
}
.forma ul.logeo{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.forma ul.logeo li{
    /*float: left;*/
    display: inline-block;
    margin: 0 20px 0 0;
    position: relative;
}
.forma ul.logeo li a{
    display: block;
    padding: 8px 16px;
    color: #fff;
    font: normal 14px 'geogrotesque_bdbold';
    text-transform: uppercase;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    line-height: 1.8em;
    position: relative;
}
.forma ul.logeo li a span{
    display: inline-block;
    width: 19px;
    height: 19px;
    overflow: hidden;
    text-indent: -999px;
    margin: 0 0 -4px 12px;
}
.forma ul.logeo li.facebook a{
    background: #405bbf;
    -webkit-box-shadow: 0 3px 0 0 #374fa9;
    box-shadow: 0 3px 0 0 #374fa9;
}
.forma ul.logeo li.facebook a span{
    background: url("../images/icon-facebook.png") no-repeat 0 0;
}
.forma ul.logeo li.twitter{
    margin: 0;
}
.forma ul.logeo li.twitter a{
    background: #1caad2;
    -webkit-box-shadow: 0 3px 0 0 #1994bd;
    box-shadow: 0 3px 0 0 #1994bd;
}
.forma ul.logeo li.twitter a span{
    background: url("../images/icon-twitter.png") no-repeat 0 0;
}
.forma ul.logeo li a span{
    -moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.forma ul.logeo li a:hover span{
    -moz-transform: scale(1) rotate(360deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-transform: scale(1) rotate(360deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -o-transform: scale(1) rotate(360deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -ms-transform: scale(1) rotate(360deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    transform: scale(1) rotate(360deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.forma ul.logeo li.facebook>a:active {
    top:2px;
    -webkit-box-shadow: 0 1px 0 0 #374fa9;
    box-shadow: 0 1px 0 0 #374fa9;
    -webkit-transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -ms-transition: all 100ms ease;
    -o-transition: all 100ms ease;
    transition: all 100ms ease;
}
.forma ul.logeo li.twitter>a:active {
    top:2px;
    -webkit-box-shadow: 0 1px 0 0 #1994bd;
    box-shadow: 0 1px 0 0 #1994bd;
    -webkit-transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -ms-transition: all 100ms ease;
    -o-transition: all 100ms ease;
    transition: all 100ms ease;
}
.forma .tv{
    position: absolute;
    right: 0;
    top:-20px;
}
.last{
    padding: 12px 0;
    text-align: right;
}
.last ul{
  float: left;
  list-style: none;
  padding: 18px 0;
  margin: 0;
}
.last ul li a{
  color: #fff;
  font: 11px 'geogrotesque_ullgultralight';
  text-transform: uppercase;
}
.last ul li a:hover{
  text-decoration: underline;
}
/* loader */
#loader{
    background:#2d303b;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}
.loader {
  font-size: 4px;
  margin:-22px 0 0 -22px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 44px;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ee2642 10%, rgba(238, 38, 66, 0) 42%);
  background: -webkit-linear-gradient(left, #ee2642 10%, rgba(238, 38, 66, 0) 42%);
  background: -o-linear-gradient(left, #ee2642 10%, rgba(238, 38, 66, 0) 42%);
  background: -ms-linear-gradient(left, #ee2642 10%, rgba(238, 38, 66, 0) 42%);
  background: linear-gradient(to right, #ee2642 10%, rgba(238, 38, 66, 0) 42%);
  -webkit-animation: load3 0.6s infinite linear;
  animation: load3 0.6s infinite linear;
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ee2642;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #2d303b;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* fin loader */

/* animacion de home */
#menu.animate{
    top:-80px;
}
.logos.animate{
    position: relative;
    top: -60px;
    opacity: 0;
}
.hinchas.animate, .forma.animate, .contador.animate{
    position: relative;
    bottom: -60px;
    opacity: 0;
}
.hinchas.animate, .forma.animate, #menu.animate, .logos.animate, #menu ul li a, #menu ul li a:hover, #menu ul li a span, #menu ul li a:hover span, .logos .mmt img, .logos .mmt:hover img{
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
#menu, .logos{
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.hinchas, .forma, .contador.animate, .contador{
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;  
}
/* fin animacion de home */


.overlay{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
  z-index: 990;
}

.overlay .lightbox{
  width: 340px;
  height: 340px;
  padding: 30px;
  background: url("../images/lb-login.png") no-repeat 0 0;
  position: absolute;
  top:50%;
  left: 50%;
  margin: -200px 0 0 -200px;
}
.overlay .lightbox .term-cond{
  height: 220px;
  overflow: auto;
  font: 13px 'geogrotesque_ullgultralight';
  text-align: justify;
}
.overlay .lightbox .term-cond h2{
  margin: 0;
  padding: 0;
  font: normal 18px 'geogrotesque_bdbold';
  text-transform: uppercase;
}
.overlay .lightbox .term-cond p{
  margin: 15px 15px 15px 0;
  line-height: 1.5em;
}

.overlay .lightbox .form{
  display: table;
  padding: 20px 0 0 0;
  margin: 0 auto;
}
.overlay .lightbox .form .cell{
  display: table-cell;
  vertical-align: middle;
}
.overlay .lightbox .form .cell .check{
  width: 17px;
  height: 17px;
  overflow: hidden;
  background: url("../images/icon-checkbox.png") no-repeat 0 0;
  margin: 0 10px 0 0;
  cursor: pointer;
}
.overlay .lightbox .form .cell .check.checked{
  background: url("../images/icon-checkbox.png") no-repeat 0 100%;
}
.overlay .lightbox .form .cell input{
  display: none;
}
.overlay .lightbox input.confirmar{
  background: #f1f1f1;
  display: block;
  padding: 8px 21px;
  color: #ee2642;
  font: normal 14px 'geogrotesque_bdbold';
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  line-height: 1.8em;
  position: relative;
  -webkit-box-shadow: 0 3px 0 0 #cacbd2;
  box-shadow: 0 3px 0 0 #cacbd2;
  border: none;
  outline: none;
  margin: 15px auto 0 auto;
}
.overlay .lightbox input.confirmar:active{
  margin: 17px auto 0 auto;
  -webkit-box-shadow: 0 1px 0 0 #cacbd2;
  box-shadow: 0 1px 0 0 #cacbd2;
}
/*----// PASO 2//----*/

#tactica .hinchas{
  margin: 0;
}
#tactica .hinchas ul.liketable{
  display: table;
  width: 68%;
  margin: 0 auto;
  padding: 0;
}
#tactica .hinchas ul.liketable li{
  display: table-cell;
  vertical-align: top;
}
#tactica .hinchas ul.liketable li.vs{
  padding: 20px 0 0 0;
}
#tactica .forma{
  background: url("../images/forma-2.png") no-repeat 50% 0;
  margin: -80px auto 0 auto;
  height: 215px;
}
#tactica .forma .txt{
  margin: 0 auto;
  width: 590px;
}
#tactica .forma .txt p{
  margin: 10px;
  line-height: 2em;
}
.contador{
  text-align: center;
  margin: -10px 0 30px 0;
  position: relative;
  bottom: 0;
  opacity: 1;
}
.contador p{
  text-transform: uppercase;
  font-family: 'geogrotesque_lglight';
  margin:10px 0 0 0;
}
.contador p.faltan{
  font: normal 26px 'geogrotesque_bdbold';
  text-transform: uppercase;
  margin: 0;
}
#defaultCountdown{
  background: rgba(38,36,44,0.7);
  display: table;
  margin: 0 auto;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#defaultCountdown .countdown-section{
  display: table-cell;
  padding: 10px 13px 10px 10px;
  text-align: center;
  background: url("../images/two-dots.png") no-repeat 100% 0;
  width: 30px;
}
#defaultCountdown .countdown-section:last-child{
  padding: 10px;
  background: none;
}
#defaultCountdown .countdown-section .countdown-amount{
  font: 26px 'geogrotesque_bdbold';
  display: block;
  color: #fff;
}
#defaultCountdown .countdown-section .countdown-period{
  font: 12px 'geogrotesque_lglight';
  color: #ee2642;
  text-transform: uppercase;
}
form{
  margin: 0;
  padding: 0;
}
form textarea{
  background: #ad293b;
  border: none;
  padding: 15px;
  width: 100%;
  height: 80px;
  resize: none;
  color: #fff;
  font: 14px 'geogrotesque_lglight'; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
form textarea:focus{
  outline: none;
}
::-webkit-input-placeholder {
  color: #fa657a;
}

:-moz-placeholder { /* Firefox 18- */
  color: #fa657a;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #fa657a;
}

:-ms-input-placeholder {  
  color: #fa657a;
}
form input.submit {
  background: #f1f1f1;
  display: block;
  padding: 8px 21px;
  color: #ee2642;
  font: normal 14px 'geogrotesque_bdbold';
  text-transform: uppercase;
  border-radius: 3px;
  line-height: 1.8em;
  position: relative;
  box-shadow: 0 3px 0 0 #cacbd2;
  border: none;
  outline: none;
  margin: 15px auto 0 auto;
}
form#post textarea{
  width: 80%;
  float: left;
}
form#post input.submit{
  float: right;
  margin: 35px 0 0 0;
}
form#post input.submit:active{
  margin: 37px 0 0 0;
  box-shadow: 0 1px 0 0 #cacbd2;
}
/*----// FIN PASO 2//----*/




