@font-face {
  font-family: 'geogrotesque_rgregular';
  src: url('../fonts/geogtq-rg.eot');
  src: url('../fonts/geogtq-rg.eot?#iefix') format('embedded-opentype'),
       url('../fonts/geogtq-rg.woff') format('woff'),
       url('../fonts/geogtq-rg.ttf') format('truetype'),
       url('../fonts/geogtq-rg.svg#geogrotesque_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geogrotesque_bdbold';
  src: url('../fonts/geogtq-bd.eot');
  src: url('../fonts/geogtq-bd.eot?#iefix') format('embedded-opentype'),
       url('../fonts/geogtq-bd.woff') format('woff'),
       url('../fonts/geogtq-bd.ttf') format('truetype'),
       url('../fonts/geogtq-bd.svg#geogrotesque_bdbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geogrotesque_smbdsemibold';
  src: url('../fonts/geogtq-sb.eot');
  src: url('../fonts/geogtq-sb.eot?#iefix') format('embedded-opentype'),
       url('../fonts/geogtq-sb.woff') format('woff'),
       url('../fonts/geogtq-sb.ttf') format('truetype'),
       url('../fonts/geogtq-sb.svg#geogrotesque_smbdsemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geogrotesque_lglight';
  src: url('../fonts/geogtq-lg.eot');
  src: url('../fonts/geogtq-lg.eot?#iefix') format('embedded-opentype'),
       url('../fonts/geogtq-lg.woff') format('woff'),
       url('../fonts/geogtq-lg.ttf') format('truetype'),
       url('../fonts/geogtq-lg.svg#geogrotesque_lglight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geogrotesque_ullgultralight';
  src: url('../fonts/geogtq-ul.eot');
  src: url('../fonts/geogtq-ul.eot?#iefix') format('embedded-opentype'),
       url('../fonts/geogtq-ul.woff') format('woff'),
       url('../fonts/geogtq-ul.ttf') format('truetype'),
       url('../fonts/geogtq-ul.svg#geogrotesque_ullgultralight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueRegular';
    src: url('../fonts/helveticaneue.eot');
    src: url('../fonts/helveticaneue.eot') format('embedded-opentype'),
         url('../fonts/helveticaneue.woff') format('woff'),
         url('../fonts/helveticaneue.ttf') format('truetype'),
         url('../fonts/helveticaneue.svg#HelveticaNeueRegular') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueCondensedBold';
    src: url('../fonts/helveticaneue-condensedbold.eot');
    src: url('../fonts/helveticaneue-condensedbold.eot') format('embedded-opentype'),
         url('../fonts/helveticaneue-condensedbold.woff') format('woff'),
         url('../fonts/helveticaneue-condensedbold.ttf') format('truetype'),
         url('../fonts/helveticaneue-condensedbold.svg#HelveticaNeueCondensedBold') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('../fonts/helveticaneue-light.eot');
    src: url('../fonts/helveticaneue-light.eot') format('embedded-opentype'),
         url('../fonts/helveticaneue-light.woff') format('woff'),
         url('../fonts/helveticaneue-light.ttf') format('truetype'),
         url('../fonts/helveticaneue-light.svg#HelveticaNeueLight') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('../fonts/helveticaneue-bold.eot');
    src: url('../fonts/helveticaneue-bold.eot') format('embedded-opentype'),
         url('../fonts/helveticaneue-bold.woff') format('woff'),
         url('../fonts/helveticaneue-bold.ttf') format('truetype'),
         url('../fonts/helveticaneue-bold.svg#HelveticaNeueBold') format('svg');
}
