/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.login {
  width: 300px;
  border: 1px solid #c1c1c1;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  top: 150px;
  left: 50%;
  margin-left: -150px;
}

.container #layout {
  margin-top: 50px;
}

.container #layout .row.item {
  position: relative;
  width: 32.4%;
  margin: 5px;
  float: left;
}