<span class="number">5</span>
<div class="table">
    <div class="cell sorteo">
        <div class="cell">
            <h2 ng-if="sweepstake.is_active">Próximo <span>Sorteo</span></h2>
            <h2 ng-if="!sweepstake.is_active">Sorteo</h2>
            <div class="fechasorteo"><span>{{ day(sweepstake.init_at) }}</span> {{ month(sweepstake.init_at) }}</div>
            <p>Si tu táctica futbolera para este sorteo se convierte en la ganadora, podrás vivir el fútbol como sueñas con un espectacular Smart TV de última generación y ver las estadísticas de tus partidos favoritos con la aplicación Estadio LG, exclusiva de los Smart TV LG.</p>
        </div>
        <div class="cell">
            <img src="images/hincha-ganador.png" alt="Hincha" class="hincha-ganador animate" data-sgk-animate="1000">                                
        </div>
    </div>

    <div class="cell">
        <div class="app less">
            <h3>¡LLÉVATE ESTE ESPECTACULAR SMARTTV LG <span>SI TU MEJOR TÁCTICA RESULTA GANADORA!</span></h3>
            <img src="images/lg-smart-tv-logo.png" alt="LG Smart TV">
            <p>LG CINEMA 3D SMART TV</p>
            <ul class="lista">
                <li>42LB700</li>
                <li>Smart TV con Web Os</li>
                <li>Cinema 3d</li>
                <li>Voice Control</li>
                <li>Diseño Cinema Screen</li>
            </ul>
        </div>
    </div>
</div><!-- .table -->

<div class="info-ganador less">
    <p class="mensaje">Tú puedes ser el próximo ganador, comparte tus tácticas para la próxima fecha de la Selección en 140 caracteres, obtén votos para ellas y participa</p>
    <div class="participa"><a href="/mi-mejor-tactica/">Participa</a></div>
    <div class="tv-app">
        <img src="images/tv-lg.png" alt="Estadio CDF">
    </div>
</div>