<span class="number">5</span>
<div class="table">
    <div class="cell sorteo">
        <div class="cell">
            <h2 ng-if="sweepstake.is_active">Próximo <span>Sorteo</span></h2>
            <h2 ng-if="!sweepstake.is_active">Sorteo</h2>
            <div class="fechasorteo"><span>{{ day(sweepstake.init_at) }}</span> {{ month(sweepstake.init_at) }}</div>
            <p>Si tu táctica futbolera para este sorteo se convierte en la ganadora, disfrutarás 6 meses gratis de los mejores partidos del fútbol nacional y los partidos chilenos en las distintas ligas donde participan, vía streaming, a través de Estadio CDF, aplicación exclusiva para Smart TV.</p>
        </div>
        <div class="cell">
            <img src="images/hincha-ganador.png" alt="Hincha" class="hincha-ganador animate" data-sgk-animate="1000">                                
        </div>
    </div>

    <div class="cell">
        <div class="app">
            <h2>Participa y <span>podrás ganar</span></h2>
            <img class="margin" src="images/logo-ecdf-wins.png" alt="Estadio CDF">
            <img src="images/screensohot_ecdf.png" alt="Estadio CDF">
        </div>
    </div>
</div><!-- .table -->

<div class="info-ganador">
    <p class="mensaje">Tú puedes ser el próximo ganador, comparte tus tácticas para la próxima fecha de la Selección en 140 caracteres, obtén votos para ellas y participa</p>
    <div class="participa"><a href="/mi-mejor-tactica/">Participa</a></div>
    <div class="tv-app">
        <ul>
            <li><a href="javascript:{}" data-sgk-galery="" data-sgk-file="lb-ecdf-01.jpg" class="ng-isolate-scope"><img src="images/thumb-app-ecdf-01.jpg" alt=""></a></li>
            <li><a href="javascript:{}" data-sgk-galery="" data-sgk-file="lb-ecdf-02.jpg" class="ng-isolate-scope"><img src="images/thumb-app-ecdf-02.jpg" alt=""></a></li>
            <li><a href="javascript:{}" data-sgk-galery="video" data-sgk-file="97451378" class="ng-isolate-scope"><img src="images/thumb-app-ecdf-03.jpg" alt=""></a></li>
        </ul>
    </div>
</div>