        <div class="relative" id="error404">
            <div class="contenedor">

                <div class="logos">
                    <div class="mmt">
                        <a href="#;">
                            <img src="images/mimejortactica-logo.png" alt="Mi Mejor Táctica. LG">
                        </a>
                    </div>
                </div><!--// .logos //-->
                
                <div class="hinchas">
                    <div><img src="images/eror404.png" alt="Error 404"></div>
                </div><!--// .hinchas //-->

                <div class="last">
                    <div>
                        <ul>
                            <li><a href="javascript:{}" data-sgk-terms="" class="ng-isolate-scope">Bases del concurso</a></li>
                        </ul>
                        <a href="http://www.lg.com/cl/televisores" target="_blank" title="LG. Life's Good"><img src="img/LG-logo.png" alt="LG logo"></a>
                    </div>
                </div>

            </div><!--// .contenedor //-->
        </div><!--// .relative //-->
        <div class="pattern"></div><!--// .pattern //-->