        <div class="relative" id="error404">
            <div class="contenedor">

                <div class="logos">
                    <div class="mmt">
                        <a href="#;">
                            <img src="images/mimejortactica-logo.png" alt="Mi Mejor Táctica. LG">
                        </a>
                    </div>
                </div><!--// .logos //-->
                
                <div class="hinchas">
                    <div><img src="images/eror404.png" alt="Error 404"></div>
                </div><!--// .hinchas //-->

            </div><!--// .contenedor //-->
        </div><!--// .relative //-->
        <div class="pattern"></div><!--// .pattern //-->