        <div class="relative" id="awards">
            <div class="contenedor">

                <div class="logos">
                    <div class="mmt">
                        <a href="#;">
                            <img src="images/mimejortactica-logo.png" alt="Mi Mejor Táctica. LG">
                        </a>
                    </div>
                </div><!--// .logos //-->
                
                <div class="hinchas animate" data-sgk-animate="200">
                    <div class="info-premio">
                        <div class="cell tv">
                            <img class="animate" data-sgk-animate="500" src="images/tv-premios.png" alt="LG Cinema 3d Smart tv 42">
                        </div>
                        <div class="cell">
                            <div class="bloque animate" data-sgk-animate="700">
                                <h2>Estos son los premios a los que puedes optar si tu mejor táctica resulta ganadora. <span>¡No dejes de participar para tener más opciones de conseguirlos!</span></h2>
                                <p>¡LLÉVATE ESTE ESPECTACULAR <span>LG Smart TV + 1 año DE ESTADIO CDF</span>, SI TU MEJOR TÁCTICA RESULTA GANADORA!</p>
                                <div class="cell borde linea">
                                    <p>LG SMART TV FHD 42" LB6500</p>
                                    <ul>
                                        <li>42LB6500</li>
                                        <li>SMART TV CON WEBOS</li>
                                        <li>CINEMA 3D</li>
                                        <li>TIME MACHINE II</li>
                                        <li>WIFI INCORPORADO</li>
                                        <li>DUAL PLAY</li>
                                    </ul>
                                </div>
                                <div class="cell borde">
                                    <img src="images/logo-app-ecdf-wins.png">
                                    <p>Gana meses grátis de Estadio CDF, compartiendo tu mejor táctica en 140 caracteres</p>
                                </div>
                            </div>
                            <div data-sgk-animate="900">
                                <div class="tablafechas" data-sgk-custom-scroll>
                                    <div class="table"><h2>Sigue Atento la fecha de los 9 sorteos</h2></div>
                                    <div class="table">
                                        <div class="cell"><span>Primer</span> Sorteo</div>
                                        <div class="cell">14-06-2014</div>
                                        <div class="cell"><img src="images/ecdf-logo-tabla.png" alt=""></div>
                                    </div>
                                    <div class="table">
                                        <div class="cell"><span>Segundo</span> Sorteo</div>
                                        <div class="cell">19-06-2014</div>
                                        <div class="cell"><img src="images/ecdf-logo-tabla.png" alt=""></div>
                                    </div>
                                    <div class="table">
                                        <div class="cell"><span>Tercer</span> Sorteo</div>
                                        <div class="cell">24-06-2014</div>
                                        <div class="cell"><img src="images/lg-smarttv-winners.png" alt=""></div>
                                    </div>
                                </div>   
                            </div>

                        </div>
                    </div>

                </div><!--// .hinchas //-->

            </div><!--// .contenedor //-->
        </div><!--// .relative //-->
        <div class="pattern"></div><!--// .pattern //-->