        <div class="relative" id="awards">
            <div class="contenedor">

                <div class="logos">
                    <div class="mmt">
                        <a href="#;">
                            <img src="images/mimejortactica-logo.png" alt="Mi Mejor Táctica. LG">
                        </a>
                    </div>
                </div><!--// .logos //-->
                
                <div class="hinchas animate" data-sgk-animate="200">
                    <div class="info-premio">
                        <div class="cell"><img class="animate" data-sgk-animate="500" src="images/tv-premios.png" alt="LG Cinema 3d Smart tv 42"></div>
                        <div class="cell">
                            <div class="bloque animate" data-sgk-animate="700">
                                <h2>Smart, Inspirado En Ti. LG Smart TV</h2>
                                <p>¡LLÉVATE ESTE ESPECTACULAR LG Smart TV + 6 MESES DE ESTADIO CDF, SI TU MEJOR TÁCTICA RESULTA GANADORA!</p>
                                <p>LG SMART TV FHD 42" LB6500</p>
                                <ul>
                                    <li>42LB6500</li>
                                    <li>SMART TV CON WEBOS</li>
                                    <li>CINEMA 3D</li>
                                    <li>TIME MACHINE II</li>
                                    <li>WIFI INCORPORADO</li>
                                    <li>DUAL PLAY</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="cell border animate" data-sgk-animate="900">
                        <div class="cell app"><img src="images/ecdf-logo-premios.png" alt="Estadio CDF"></div>
                        <div class="cell">
                            <p>Accede a todos los partidos del Campeonato Nacional y duelos históricos, los programas y encuentros transmitidos por CDF, en vivo y on demand  <a ui-sref="estadio_cdf">Ver más</a></p>
                        </div>
                    </div>
                    <div class="cell animate" data-sgk-animate="1100">
                        <div class="cell app"><img src="images/elg-logo-premios.png" alt="Estadio LG"></div>
                        <div class="cell">
                            <p>No te pierdas los detalles de tus partidos y ligas favoritas, en tiempo real, con esta aplicación exclusiva para LG Smart TV. <br><a ui-sref="estadio_lg">Ver más</a>
                            </p>
                        </div>
                    </div>
                </div><!--// .hinchas //-->

            </div><!--// .contenedor //-->
        </div><!--// .relative //-->
        <div class="pattern"></div><!--// .pattern //-->