        <div class="relative" id="estadios">
            <div class="contenedor">
                
                <div class="logos">
                    <div class="mmt">
                        <a href="#;">
                            <img src="images/mimejortactica-logo.png" alt="Mi Mejor Táctica. LG">
                        </a>
                    </div>
                </div><!--// .logos //-->
                
                <div id="main" class="animate" data-sgk-animate="300">
                    <div class="coll animate" data-sgk-animate="500">
                        <h1>Smart Tv XX y <span>Estadio CDF</span>
                        </h1>
                        <div class="tv"><img src="images/estadios-tv3.jpg"></div>
                        <ul>
                            <li><a href=""><img src="images/estadios-tv-1.jpg"><span><img src="images/estadios-tv-b.png"></span></a></li>
                            <li><a href=""><img src="images/estadios-tv-2.jpg"><span><img src="images/estadios-tv-b.png"></span></a></li>
                            <li><a href=""><img src="images/estadios-tv-3.jpg"><span><img src="images/estadios-tv-b.png"></span></a></li>
                        </ul>
                    </div><!--// .coll //-->
                    <div class="colr animate" data-sgk-animate="700">
                        <img src="images/estadio-cdf-logo-app.png" alt="Estadio CDF">
                        <h2>CON ESTADIO CDF Y TU SMART TV</h2>
                        <div class="scroll cdf">
                            <div class="altura" ng-scrollbar>
                                <p>Accede a todos los partidos del Campeonato Nacional chileno y duelos históricos, los programas y encuentros futboleros transmitidos por CDF, en vivo y Video on Demand (VOD), con transmisión por streaming de alta calidad que se ajusta a tu conexión de internet para ofrecer la mejor experiencia en fútbol de transmisión continua.</p>
                                <p class="bold">Si aún no tienes un SmartTV para disfrutar esta aplicación, sé creativo y participa en #MiMejorTáctica para ganar por un espectacular LG (modelodeltelevisor)</p>
                            </div>
                        </div>
                        <a class="participar" href="/mi-mejor-tactica/">Participar</a>
                        <a class="revisa lg" href="/estadiolg/">Revisa</a>
                    </div>
                </div><!--// #main //-->

                <div class="last">
                    <div>
                        <ul>
                            <li><a href="javascript:{}" data-sgk-terms>Bases del concurso</a></li>
                        </ul>
                        <a href="http://www.lg.com/cl/televisores" target="_blank" title="LG. Life's Good"><img src="images/LG-logo.png" alt="LG logo"></a>
                    </div>
                </div><!--// .last //-->                

            </div><!--// .contenedor //-->
        </div><!--// .relative //-->
        <div class="pattern"></div><!--// .pattern //-->