        <div class="relative" id="estadios">
            <div class="contenedor">
                
                <div class="logos">
                    <div class="mmt">
                        <a href="#;">
                            <img src="images/mimejortactica-logo.png" alt="Mi Mejor Táctica. LG">
                        </a>
                    </div>
                </div><!--// .logos //-->
                
                <div id="main" class="animate" data-sgk-animate="300">
                    <img class="estadios-app" src="images/estadios-app.png" alt="app exclusiva de smart tv">
                    <div class="coll animate" data-sgk-animate="500">
                        <h1>LG CINEMA 3D SMART TV y <span>Estadio LG</span>
                        </h1>
                        <div class="tv"><img src="images/estadios-tv2.jpg"></div>
                        <ul>
                            <li><a href="javascript:{}" data-sgk-galery data-sgk-file="lb-elg-01.jpg"><img src="images/estadiolg-tv-1.jpg"><span><img src="images/estadios-tv-b.png"></span></a></li>
                            <li><a href="javascript:{}" data-sgk-galery data-sgk-file="lb-elg-02.jpg"><img src="images/estadiolg-tv-2.jpg"><span><img src="images/estadios-tv-b.png"></span></a></li>
                            <li><a href="javascript:{}" data-sgk-galery="video" data-sgk-file="97451379"><img src="images/estadiolg-tv-3.jpg"><span><img src="images/estadios-tv-b.png"></span></a></li>
                        </ul>
                    </div><!--// .coll //-->
                    <div class="colr animate" data-sgk-animate="700">
                        <img src="images/estadios-lg.png" alt="Estadio LG estadísticas en vivo. App Smart tv.">
                        <h2>Estadio LG: Estadísticas de fútbol en Vivo</h2>
                        <div class="scroll">
                            <div class="altura" ng-scrollbar>
                                <p>Con Estadio LG podrás ver las estadísticas en vivo de los principales campeonatos de fútbol de Chile y el Mundo.</p>
                                <p>Sólo tienes que descargar la aplicación “Estadio LG” en tu LG Smart TV y tendrás acceso a ver en vivo las estadísticas más importantes de tu equipo favorito. Tales como Goles, Tiros al arco, Posesión del Balón, Pases, Faltas, Tarjetas, Offside, un Mapa de Calor para ver dónde se está jugando el partido y muchas estadísticas más! También podrás ver la formación de los jugadores y el desempeño de cada uno durante el partido.</p>
                                <p>Y lo mejor, es que puedes ver todo esto sin perderte ningún segundo el partido, ya que la aplicación funciona por sobre la imagen del partido que estás viendo y podrás ver u ocultar las estadísticas cuando tú quieras!</p>
                                <p>Además, si te perdiste un partido, puedes ir a “Recientes” para ver todos los detalles de cómo jugó tu equipo y el “Minuto a Minuto” para que tengas todas la información del partido.</p>
                                <p class="bold">¿Aún no tienes un SmartTV LG para disfrutar esta aplicación? Participa en #MiMejorTáctica y podrás ganarlo.</p>
                            </div>
                        </div>
                        <a class="participar" href="/mi-mejor-tactica/">Participar</a>
                        <a class="revisa cdf" href="/estadiocdf/">Revisa</a>
                    </div>
                </div><!--// #main //-->

                <div class="last">
                    <div>
                        <ul>
                            <li><a href="javascript:{}" data-sgk-terms>Bases del concurso</a></li>
                        </ul>
                        <a href="http://www.lg.com/cl/televisores" target="_blank" title="LG. Life's Good"><img src="images/LG-logo.png" alt="LG logo"></a>
                    </div>
                </div><!--// .last //-->                

            </div><!--// .contenedor //-->
        </div><!--// .relative //-->
        <div class="pattern"></div><!--// .pattern //-->