        <div class="relative" id="estadios">
            <div class="contenedor">
                
                <div class="logos">
                    <div class="mmt">
                        <a href="#;">
                            <img src="images/mimejortactica-logo.png" alt="Mi Mejor Táctica. LG">
                        </a>
                    </div>
                </div><!--// .logos //-->
                
                <div id="main" class="animate" data-sgk-animate="300">
                    <div class="coll animate" data-sgk-animate="500">
                        <h1>LG SMART TV y <span>Estadio CDF</span>
                        </h1>
                        <div class="tv"><img src="images/estadios-tv3.jpg"></div>
                        <ul>
                            <li>
                                <a href="javascript:{}" data-sgk-galery data-sgk-file="lb-ecdf-01.jpg">
                                    <img src="images/estadiocdf-tv-1.jpg">
                                    <span><img src="images/estadios-tv-b.png"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:{}" data-sgk-galery data-sgk-file="lb-ecdf-02.jpg">
                                    <img src="images/estadiocdf-tv-2.jpg">
                                    <span><img src="images/estadios-tv-b.png"></span>
                                </a>
                            </li>
                            <li>
                                <a  href="javascript:{}" data-sgk-galery="video" data-sgk-file="97451378">
                                    <img src="images/estadiocdf-tv-3.jpg">
                                    <span><img src="images/estadios-tv-b.png"></span>
                                </a>
                            </li>
                        </ul>
                    </div><!--// .coll //-->
                    <div class="colr animate" data-sgk-animate="700">
                        <img src="images/estadio-cdf-logo-app.png" alt="Estadio CDF">
                        <h2>CON ESTADIO CDF Y TU LG SMART TV</h2>
                        <div class="scroll cdf">
                            <div class="altura" data-sgk-custom-scroll>
                                <p>En la aplicación de Estadio CDF podrás disfrutar en vivo cada uno de los partidos que CDF transmita del Campeonato Nacional, de la Primera B y de Copa Chile.</p>
                                <p>También podrás ver en vivo y en estreno programas como Código Camarín, En el Nombre del Fútbol, La Fecha a Fondo, CDF Noticias, Cruzados, Azules, Eterno Campeón, La Vida en Verde y otros que podrán sumarse a la cartelera del Canal del Fútbol.</p>
                                <p>Existe una gran biblioteca de VOD para que puedas ver cuando quieras todos los partidos de cada fecha, incluso los que no fueron transmitidos en vivo de Primera, Primera B o Copa Chile, además de una colección de partidos históricos del fútbol chileno, como clásicos antiguos, finales de playoffs y más. En esta sección también estarán disponibles, para que así puedas ver en el momento que quieras los capítulos de tus programas favoritos, como En El Nombre del Fútbol, Show de Goles, La fecha a Fondo y mucho más. ¡Abónate!</p>
                                <p class="bold">¿Aún no tienes un LG Smart TV para disfrutar esta aplicación? Participa en #MiMejorTáctica y podrás ganarlo.</p>
                            </div>
                        </div>
                        <a class="participar" href="/mi-mejor-tactica/">Participar</a>
                        <a class="revisa lg" href="/estadiolg/">Revisa</a>
                    </div>
                </div><!--// #main //-->            

            </div><!--// .contenedor //-->
        </div><!--// .relative //-->
        <div class="pattern"></div><!--// .pattern //-->