      <div class="relative">
        <div class="contenedor">

          <div class="logos animate" data-sgk-animate="200">
            <div class="mmt">
              <a href="#;">
                <img src="images/mimejortactica-logo.png" alt="Mi Mejor Táctica. LG">
              </a>
            </div>
            <div class="ecdf">
              <a href="">
                <span><img src="images/estadio-cdf-logo.png" alt="Estadio CDF"></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span>Ver más</span></p>
              </a>
            </div>
            <div class="elg">
              <a href="">
                <span><img src="images/estadio-lg-logo.png" alt="Estadio LG"></span>
                <p>No te pierdas los detalles de tus partidos y ligas favoritas, en tiempo real, con esta aplicación exclusiva para SmartTV LG. <span>Ver más</span></p>
              </a>
            </div>
          </div><!--// .logos //-->
            
          <div class="hinchas animate">
            <div class="imghinchas"><img src="images/hinchas.png" alt="hinchas"></div>
          </div><!--// .hinchas //-->

          <div class="forma animate">
            <div class="txt">
              <h1>¡Arma tu mejor táctica y sale a ganar!</h1>
              <p>Comparte tu táctica ideal para la Selección en 140 caracteres para ganar y participa por un <strong>Smart TV LG  + X meses de Estadio CDF</strong>. <span>Mientras más votos obtengan tus tácticas, ¡más posibilidades tienes de ganar!</span></p>
              <span class="number">1</span>
              <ul class="logeo animate" ng-if="!currentUser">
                <li class="facebook"><a href="/auth/facebook" target="_self">Ingresa vía <span>Facebook</span></a></li>
                <li class="twitter"><a href="/auth/twitter" target="_self">Ingresa vía <span>Twitter</span></a></a></li>
              </ul>
              <ul class="logeo animate" ng-if="currentUser">
                <li class="concursar">
                  <a ui-sref="strategy" target="_self">Ir a Concursar</a>
                </li>
              </ul>
              <p class="acepto" ng-if="!currentUser">Acepto Bases del Concurso</p>
            </div>
            <div class="tv"><img src="images/tv-lg.png" alt="Smart TV LG"></div>
          </div><!--// .forma //-->
            
          <div class="last">
            <div>
              <ul>
                <li><a href="">Bases del concurso</a></li>
              </ul>
              <a href="http://www.lg.com/cl/televisores" target="_blank" title="LG. Life's Good"><img src="images/LG-logo.png" alt="LG logo"></a>
            </div>
          </div>

        </div><!--// .contenedor //-->
      </div><!--// .relative //-->

<!--// LIGHTBOX CORREO TWITTER //-->
<div class="overlay" style="display:none;">
  <div class="dialogos">
    <div class="cell">
      <img src="images/mail-icon.png" alt="">
    </div>
    <div class="cell">
      <form action="" id="mailtwitter">
        <h3>Ingresa tu correo</h3>
        <p>Para continuar necesitas ingresar tu correo electrónico.</p>
        <input type="text" name="email" id="email" placeholder="este.es@micorreo.cl">
        <input type="submit" class="btn" value="Continuar">
      </form>
    </div>
    <div class="cerrar"><a href="">Cerrar</a></div>
  </div>
</div>
<!--// FIN LIGHTBOX CORREO TWITTER //-->

<!--// LIGHTBOX CORREO FACEBOOK //-->
<div class="overlay" style="display:none;">
  <div class="dialogos">
    <div class="cell">
      <img src="images/mail-icon.png" alt="">
    </div>
    <div class="cell">
      <form action="" id="mailfacebook">
        <h3>Confirma tu correo</h3>
        <p>Para continuar necesitas confirmar tu correo electrónico.</p>
        <input type="text" name="email" id="email" value="este.es@micorreo.cl">
        <input type="submit" class="btn" value="Confirmar">
      </form>
    </div>
    <div class="cerrar"><a href="">Cerrar</a></div>
  </div>
</div>
<!--// FIN LIGHTBOX CORREO FACEBOOK //-->

<!--// LIGHTBOX MODERACIÓN //-->
<div class="overlay">
  <div class="dialogos" id="moderacion">
    <div class="cell mod">
      <img src="images/alert-mod.png" alt="">
    </div>
    <div class="cell txt">
        <h3>Hey, campeón!</h3>
        <p>Hemos detectado que tu táctica contiene palabras que no están admitidas. Será revisada antes de ser publicada. </p>
        <input type="submit" class="btn" value="Continuar">
    </div>
    <div class="cerrar"><a href="">Cerrar</a></div>
  </div>
</div>
<!--// FIN LIGHTBOX MODERACIÓN //-->
