      <div class="relative">
        <div class="contenedor">

          <div class="logos animate" data-sgk-animate="200">
            <div class="mmt">
              <a href="#;">
                <img src="images/mimejortactica-logo.png" alt="Mi Mejor Táctica. LG">
              </a>
            </div>
            <div class="elg">
              <a ui-sref="estadio_lg">
                <span><img src="images/estadio-lg-logo.png" alt="Estadio LG"></span>
                <p>No te pierdas los detalles de tus partidos y ligas favoritas, en tiempo real, con esta aplicación exclusiva para LG Smart TV.<br><span>Ver más</span></p>
              </a>
            </div>
            <div class="ecdf">
              <a ui-sref="estadio_cdf">
                <span><img src="images/estadio-cdf-logo.png" alt="Estadio CDF"></span>
                <p>Accede a todos los partidos del Campeonato Nacional y duelos históricos, los programas y encuentros transmitidos por CDF, en vivo y on demand <span>Ver más</span></p>
              </a>
            </div>

          </div><!--// .logos //-->
            
          <div class="hinchas animate">
            <div class="imghinchas"><img src="images/hinchas.png" alt="hinchas"></div>
          </div><!--// .hinchas //-->

          <div class="forma animate">
            <div class="txt">
              <h1>¡Arma tu mejor táctica y sale a ganar!</h1>
              <p>Comparte tu mejor táctica para este encuentro en 140 caracteres y participa por un <strong>LG SMART TV + 1 año de Estadio CDF</strong>. <span>Mientras más participes y más votos obtengas, más posibilidades tienes de ganar.</span></p>
              <span class="number">1</span>
              <ul class="logeo animate" ng-if="!currentUser">
                <li class="facebook"><a href="/auth/facebook" target="_self">Ingresa vía <span>Facebook</span></a></li>
                <li class="twitter"><a href="/auth/twitter" target="_self">Ingresa vía <span>Twitter</span></a></a></li>
              </ul>
              <ul class="logeo animate" ng-if="currentUser">
                <li class="concursar">
                  <a ui-sref="strategy" target="_self">Ir a Concursar</a>
                </li>
              </ul>
              <!-- <p class="acepto" ng-if="!currentUser"><a href="javascript:{}" data-sgk-terms>Acepto Bases del Concurso</a></p> -->
            </div>
            <div class="tv"><img src="images/tv-lg.png" alt="Smart TV LG"></div>
          </div><!--// .forma //-->

        </div><!--// .contenedor //-->
      </div><!--// .relative //-->
