        <div class="relative" id="tablaposiciones">
            <div class="contenedor">
                
                <div class="table">
                    <div id="left">
                        <div class="logos">
                            <div class="mmt">
                                <a href="#;">
                                    <img src="images/mimejortactica-logo.png" alt="Mi Mejor Táctica. LG">
                                </a>
                            </div>
                        </div><!--// .logos //-->
                        
                        <div class="appdetail animate" data-sgk-animate="100">
                            <div class="logoapp"><img src="images/logoecdf180.png" alt="Estadio CDF"></div>
                            <div><img src="images/tv-side-ecdf.png" alt="Imagen App Estadio CDF"></div>
                            <h2>Participa con tu mejor táctica y vive la pasión del fútbol desde tu casa</h2>
                            <p>Con la aplicación de Estadio CDF podrás disfrutar en vivo cada uno de los partidos que CDF transmita del Campeonato Nacional, de la Primera B y de Copa Chile.</p>
                            <div><a ui-sref="estadio_cdf">ver más</a></div>
                        </div><!--// .appdetail //-->
                    </div><!--// #left //-->

                    <div id="right">

                        <div class="sup-posiciones animate" data-sgk-animate="500">
                            <p class="titulo">Tácticas que lideran la Tabla de Posiciones</p>
                            <div class="table">
                                <div>
                                    <p><span>¿No estás aún entre ellas?</span> Comparte la tuya, obtén votos y gana.</p>
                                </div>
                                <form action="" id="search" name="search">
                                    <input type="search" data-sgk-search id="searchbox" class="searchbox" placeholder="Busca a tu amigo y vota por él">
                                </form>                                
                            </div>
                            <span class="number">4</span>
                        </div><!--// .sup-posiciones //-->

                        <div class="lista-posiciones animate me" data-sgk-animate="400" ng-if="my" data-sgk-add-vote>
                          
                          <div id="strategy_{{ my._id }}" class="listar first" ng-if="my">
                            <div class="cell number"></div>
                            <div class="cell pic">
                              <img src="" ng-src="{{ my.user.avatar }}">
                            </div>
                            <div class="cell center">
                              <div class="cell">
                                <div class="username">{{ my.user.name }} <span ng-if="my.user.twitter_screen_name">{{ my.user.twitter_screen_name }}</span></div>
                                <div class="usertactics">
                                  <div class="mmt"><span>#</span>mimejor<span>táctica</span></div>
                                </div>
                              </div> 
                              <div class="cell votos"><span>Votos</span> {{ my.votes.count }}</div>
                              <p>{{ my.content }}</p>
                            </div>
                            <div class="cell buttons">
                              <ul class="impbuttons">
                                <li class="votar">
                                  <a href="javascript:{}" data-sgk-login ng-class="{voted: voted(my._id)}" ng-click="vote(my.user._id, my.sweepstake._id, my._id)">
                                    <span>Me Gusta</span>Votar
                                  </a>
                                </li>
                                <li class="sharebtn facebook">
                                  <a href="javascript:{}" data-sgk-facebook-share="{{ my._id }}">
                                    <span>Facebook</span> Comparte
                                  </a>
                                  </li>
                                <li class="sharebtn twitter">
                                  <a href="javascript:{}" data-sgk-twitter-share="{{ my._id }}">
                                    <span>Twitter</span> Tweetea
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>

                        </div>

                        <div class="lista-posiciones animate" ng-scrollbar data-sgk-animate="300" data-sgk-scroll="sort" data-sgk-add-vote>
                          
                          <div id="strategy_{{ s._id }}" data-position="{{ $index + 1 }}" data-votes="{{ s.votes.count }}" class="listar" ng-repeat="s in strategies" data-search="{{ s.user.name }} {{ s.user.twitter_screen_name }}">
                            <div class="cell number">{{ $index + 1 }}</div>

                            <div class="cell pic">
                              <img src="" ng-src="{{ s.user.avatar }}">
                            </div>
                            <div class="cell center">
                              <div class="cell">
                                <div class="username">{{ s.user.name }} <span ng-if="s.user.twitter_screen_name">{{ s.user.twitter_screen_name }}</span></div>
                                <div class="usertactics">
                                  <div class="mmt"><span>#</span>mimejor<span>táctica</span></div>
                                </div>
                              </div>
                              <div class="cell votos"><span>Votos</span> {{ s.votes.count }}</div>
                              <p>{{ s.content | removePlus }}</p>
                            </div>
                            <div class="cell buttons">
                              <ul class="impbuttons">
                                <li class="votar">
                                  <a href="javascript:{}" data-sgk-login ng-class="{voted: voted(s._id)}" ng-click="vote(s.user._id, s.sweepstake._id, s._id)">
                                    <span>Me Gusta</span>Votar
                                  </a>
                                </li>
                                <li class="sharebtn facebook">
                                  <a href="javascript:{}" data-sgk-facebook-share="{{ s._id }}">
                                    <span>Facebook</span> Comparte
                                  </a>
                                </li>
                                <li class="sharebtn twitter">
                                  <a href="javascript:{}" data-sgk-twitter-share="{{ s._id }}">
                                    <span>Twitter</span> Tweetea
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>

                        </div><!--// .lista-posiciones //-->

                    </div><!--// #right //-->                    
                </div><!--// .table //-->
            </div><!--// .contenedor //-->
        </div><!--// .relative //-->
        <div class="pattern"></div><!--// .pattern //-->