        <div class="relative" id="tablaposiciones">
            <div class="contenedor">
                
                <div class="table">
                    <div id="left">
                        <div class="logos">
                            <div class="mmt">
                                <a href="#;">
                                    <img src="images/mimejortactica-logo.png" alt="Mi Mejor Táctica. LG">
                                </a>
                            </div>
                        </div><!--// .logos //-->
                        
                        <div class="appdetail animate" data-sgk-animate="100">
                            <div class="logoapp"><img src="images/logoecdf180.png" alt="Estadio CDF"></div>
                            <div><img src="images/tv-side-ecdf.png" alt="Imagen App Estadio CDF"></div>
                            <h2>Participa con tu mejor táctica y vive la pasión del fútbol desde tu casa</h2>
                            <p>Con la aplicación Estadio LG, exclusiva de LG Smart TV, podrás disfrutar de las estadísticas de tus campeonatos y partidos favoritos. Recuerda, mientras más participes, más cerca estarás de ser el estratega futbolero ganador.</p>
                            <div><a ui-sref="estadio_lg">ver más</a></div>
                        </div><!--// .appdetail //-->
                    </div><!--// #left //-->

                    <div id="right">

                        <div class="sup-posiciones animate" data-sgk-animate="500">
                            <p class="titulo">Tácticas que lideran la Tabla de Posiciones</p>
                            <div class="table">
                                <div>
                                    <p><span>¿No estás aún entre ellas?</span> Comparte la tuya, obtén votos y gana.</p>
                                </div>
                                <form action="" id="search" name="search">
                                    <input type="search" data-role="search" id="searchbox" class="searchbox" placeholder="Busca a tu amigo y vota por él">
                                </form>                                
                            </div>
                            <span class="number">4</span>
                        </div><!--// .sup-posiciones //-->

                        <div class="lista-posiciones animate me" data-sgk-animate="400">
                            <div data-sgk-position-list-me ng-if="currentUser"></div>                            
                        </div>

                        <div class="lista-posiciones animate" ng-scrollbar data-sgk-animate="300">
                          <div data-sgk-position-list></div>
                        </div><!--// .lista-posiciones //-->

                    </div><!--// #right //-->                    
                </div><!--// .table //-->
            </div><!--// .contenedor //-->
        </div><!--// .relative //-->
        <div class="pattern"></div><!--// .pattern //-->