        <div class="relative" id="tactica">
            <div class="contenedor">
                
                <div class="logos">
                    <div class="mmt">
                        <a href="#;">
                            <img src="images/mimejortactica-logo.png" alt="Mi Mejor Táctica. LG">
                        </a>
                    </div>
                    <div class="ecdf">
                        <a href="">
                            <span><img src="images/estadio-cdf-logo.png" alt="Estadio CDF"></span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span>ver más</span>.</p>
                        </a>
                    </div>
                    <div class="elg">
                        <a href="">
                            <span><img src="images/estadio-lg-logo.png" alt="Estadio LG"></span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span>ver más</span>.</p>
                        </a>
                    </div>
                </div><!--// .logos //-->

                <div data-sgk-countdown></div>

                <div data-sgk-vs></div>

                <div class="forma animate">
                    <div class="txt">
                        <h1>¿Cuál es tu mejor táctica para que Chile triunfe?</h1>
                        <p>Escríbela aquí en 140 caracteres y consigue votos para obtener más posibilidades de ganar.</p>
                        <form name="form" ng-submit="create(form, match._id)" novalidate>
                            <textarea name="elpost" id="elpost" placeholder="Escribe tu táctica aquí" ng-trim="false" maxlength="140" ng-model="strategy.content" required></textarea>
                            <span>{{ strategy.content.length }}</span>
                            <input type="submit" ng-click="submitted = true" value="Enviar" class="submit">
                            <p ng-show="submitted && form.elpost.$error.required">Este campo es requerido</p>
                        </form>
                        <span class="number">2</span>
                    </div>
                </div><!--// .forma //-->
                
                <div class="last">
                    <div>
                        <a href="http://www.lg.com/cl/televisores" target="_blank" title="LG. Life's Good"><img src="images/LG-logo.png" alt="LG logo"></a>
                    </div>
                </div>

            </div><!--// .contenedor //-->
        </div><!--// .relative //-->