        <div class="relative" id="tactica">
            <div class="contenedor">
                
                <div class="logos">
                    <div class="mmt">
                        <a href="#;">
                            <img src="images/mimejortactica-logo.png" alt="Mi Mejor Táctica. LG">
                        </a>
                    </div>
                    <div class="ecdf">
                      <a ui-sref="estadio_cdf">
                        <span><img src="images/estadio-cdf-logo.png" alt="Estadio CDF"></span>
                        <p>Accede a todos los partidos del Campeonato Nacional y duelos históricos, los programas y encuentros transmitidos por CDF, en vivo y on demand <span>Ver más</span></p>
                      </a>
                    </div>
                    <div class="elg">
                      <a ui-sref="estadio_lg">
                        <span><img src="images/estadio-lg-logo.png" alt="Estadio LG"></span>
                        <p>No te pierdas los detalles de tus partidos y ligas favoritas, en tiempo real, con esta aplicación exclusiva para LG Smart TV.<br> <span>Ver más</span></p>
                      </a>
                    </div>
                </div><!--// .logos //-->

                <div data-sgk-countdown></div>

                <div data-sgk-vs></div>

                <div class="forma animate">
                    <div class="txt">
                        <h1>¿Cuál es tu mejor táctica para que tu equipo gane este encuentro?</h1>
                        <p>Escríbela en 140 caracteres y consigue votos para obtener más posibilidades de ganar.</p>
                        <form name="form" id="post" ng-submit="create(form, match._id)" novalidate>
                            <textarea name="elpost" id="elpost" placeholder="Escribe tu táctica aquí" ng-trim="false" 
                            minlength="10" maxlength="140" ng-model="strategy.content" data-sgk-disabled-enter required></textarea>
                            <span>{{ 140 - strategy.content.length || 140 }}</span>
                            <input type="submit" ng-click="submitted = true" value="Enviar" data-sgk-login class="submit">
                            <p ng-show="form.elpost.$error.required && submitted" class="error">Este campo es requerido</p>
                        </form>
                        <span class="number">2</span>
                    </div>
                </div><!--// .forma //-->

            </div><!--// .contenedor //-->
        </div><!--// .relative //-->
