<div class="relative" id="estadios">
	<div class="contenedor">
		
		<div class="logos">
			<div class="mmt">
				<a href="#;">
					<img src="images/mimejortactica-logo.png" alt="Mi Mejor Táctica. LG">
				</a>
			</div>
		</div><!--// .logos //-->
		
		<div id="right">
			<div class="lista-posiciones animate" data-sgk-animate="300">
        <div data-sgk-sweepstake></div>
      </div><!--// .lista-posiciones //-->
    </div>
		

	</div><!--// .contenedor //-->
</div><!--// .relative //-->
<div class="pattern"></div><!--// .pattern //-->