        <div class="relative" id="ganadores">
            <div class="contenedor">
                
                <div class="logos">
                    <div class="mmt">
                        <a href="#;">
                            <img src="images/mimejortactica-logo.png" alt="Mi Mejor Táctica. LG">
                        </a>
                    </div>
                </div><!--// .logos //-->
                
                <ul class="tabs">
                    <li ng-repeat="s in sweepstakes" id="sweepstake_{{ s._id }}">
                        <a href="javascript:{}" ng-click="tab(s)" ng-class="{winner: s.winner, active: s.is_active}">
                            <span>dot</span>
                            <div>{{ s.init_at | Date}}</div>
                        </a>
                    </li>
                </ul>
                
                <ul class="content_tab">
                    <li id="tab_01">
                        <div class="hinchas">                            
                            
                        </div><!--// .hinchas //-->
                    </li>
                </ul>
                
                <div class="last">
                    <div>
                        <ul>
                            <li><a href="javascript:{}" data-sgk-terms>Bases del concurso</a></li>
                        </ul>
                        <a href="http://www.lg.com/cl/televisores" target="_blank" title="LG. Life's Good"><img src="images/LG-logo.png" alt="LG logo"></a>
                    </div>
                </div><!--// .last //-->                

            </div><!--// .contenedor //-->
        </div><!--// .relative //-->


        <!--// LIGHTBOXS ECDF //-->
        <!-- <div class="overlay" id="videolb">
            <div class="centrar">
                <div class="cerrar"><button>Pause</button></div>
                <iframe id="player1" src="//player.vimeo.com/video/97451378?api=1&amp;player_id=player1&amp;color=ff9200&amp;title=0&amp;portrait=0&amp;byline=0&amp;badge=0&amp; autoplay=1" width="660" height="371" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
      
        <div class="overlay imagenes" id="imagen1">
            <div class="centrar">
                <div class="cerrar"><a href="#;">cerrar</a></div>
                <img src="images/lb-ecdf-01.jpg" alt="">
            </div>
        </div>
        <div class="overlay imagenes" id="imagen2">
            <div class="centrar">
                <div class="cerrar"><a href="#;">cerrar</a></div>
                <img src="images/lb-ecdf-02.jpg" alt="">
            </div>
        </div>  -->
        <!--// FIN LIGHTBOXS ECDF //-->
