        <div class="relative" id="ganadores">
            <div class="contenedor">
                
                <div class="logos">
                    <div class="mmt">
                        <a href="#;">
                            <img src="images/mimejortactica-logo.png" alt="Mi Mejor Táctica. LG">
                        </a>
                    </div>
                </div><!--// .logos //-->
                
                <ul class="tabs">
                    <li><a href="#tab_01"><img src="images/dot-tab.png"><span>13-06-14</span></a></li>
                    <li><a href="#;"><img src="images/dot-tab.png"><span>13-06-14</span></a></li>
                    <li><a href="#;"><img src="images/dot-tab.png"><span>13-06-14</span></a></li>
                    <li><a href="#;"><img src="images/dot-tab.png"><span>13-06-14</span></a></li>
                    <li><a href="#;"><img src="images/dot-tab.png"><span>13-06-14</span></a></li>
                    <li><a href="#;"><img src="images/dot-tab.png"><span>13-06-14</span></a></li>
                    <li><a href="#;"><img src="images/dot-tab.png"><span>13-06-14</span></a></li>
                </ul>
                
                <ul class="content_tab">
                    <li id="tab_01">
                        <div class="hinchas">
                            <span class="number">5</span>
                            <div class="table">
                                <div class="cell sorteo">
                                    <div class="cell">
                                        <h2>Próximo <span>Sorteo</span></h2>
                                        <div class="fechasorteo"><span>14</span> Junio</div>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                    <div class="cell">
                                        <img src="images/hincha-ganador.png" alt="Hincha" class="hincha-ganador animate" data-sgk-animate="1000">                                
                                    </div>
                                </div>

                                <div class="cell">
                                    <div class="app"><img src="images/ecdf-logo-winners.png" alt="Estadio CDF"></div>
                                </div>
                            </div><!-- .table -->

                            <div class="info-ganador">
                                <p class="mensaje">Tú puedes ser el próximo ganador, comparte tus tácticas para la próxima fecha de la Selección en 140 caracteres, obtén votos para ellas y participa</p>
                                <div class="participa"><a href="">Participa</a></div>
                                <div class="tv-app">
                                    <img src="images/tv-app-ecdf.png" alt="Estadio CDF">
                                    <ul>
                                        <li><a href=""><img src="images/thumb-app-ecdf-01.jpg" alt=""></a></li>
                                        <li><a href=""><img src="images/thumb-app-ecdf-02.jpg" alt=""></a></li>
                                        <li><a href=""><img src="images/thumb-app-ecdf-03.jpg" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!--// .hinchas //-->
                    </li>
                </ul>
                
                <div class="last">
                    <div>
                        <ul>
                            <li><a href="javascript:{}" data-sgk-terms>Bases del concurso</a></li>
                        </ul>
                        <a href="http://www.lg.com/cl/televisores" target="_blank" title="LG. Life's Good"><img src="images/LG-logo.png" alt="LG logo"></a>
                    </div>
                </div><!--// .last //-->                

            </div><!--// .contenedor //-->
        </div><!--// .relative //-->