        <div class="relative" id="ganadores">
            <div class="contenedor">
                
                <div class="logos">
                    <div class="mmt">
                        <a href="#;">
                            <img src="images/mimejortactica-logo.png" alt="Mi Mejor Táctica. LG">
                        </a>
                    </div>
                </div><!--// .logos //-->
                <div style="margin:-120px auto 0 auto;">
                    <img src="images/7ganador.png" alt="">
                </div>
                <!-- <div class="hinchas animate">
                    <span class="number">5</span>
                    <h2>!FELICITACIONES <span>Juan Pérez <span class="blanco">!</span></span></h2>
                    <p class="sub">
                        Planteaste la mejor táctica futbolera  para el triunfo de Chile y venciste con claridad sobre tus contendores, coronándote campeón de #MiMejorTáctica. ¡Un aplauso, estratega del deporte rey! Tú puedes ser el próximo ganador, comparte tus tácticas para la próxima fecha de la Selección en 140 caracteres, obtén votos para ellas y participa por un SmartTV LG (modelo) y X meses de Estadio CDF para vivir una experiencia futbolera inigualable.
                        <a href="#" class="blanco" title="Volver al Home">VOLVER AL HOME</a>
                    </p>
                    
                    <div class="info-ganador">
                        <span class="avatar"><img src="images/avatar.png" alt="Foto Persona"></span>
                        <div class="datos">
                            <div>
                                <p class="info-persona">Pato Castro <span class="negro">@patocastro</span> <span class="negro bold">#</span><span class="bold">MIMEJOR</span><span class="negro bold">TÁCTICA</span></p>
                                <p class="votos"><span>5895</span>Votos</p>
                            </div>
                            <p class="texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                        </div>
                    </div>
                    <img src="images/hincha-ganador.png" alt="Hincha" data-sgk-animate="1000" class="hincha-ganador animate">
                    <img src="images/plasma.png" alt="Televisor LG" data-sgk-animate="600" class="televisor animate">
                </div> -->
                <div class="last">
                    <div>
                        <ul>
                            <li><a href="javascript:{}" data-sgk-terms>Bases del concurso</a></li>
                        </ul>
                        <a href="http://www.lg.com/cl/televisores" target="_blank" title="LG. Life's Good"><img src="images/LG-logo.png" alt="LG logo"></a>
                    </div>
                </div><!--// .last //-->                

            </div><!--// .contenedor //-->
        </div><!--// .relative //-->
        <div class="pattern"></div><!--// .pattern //-->