      <div class="relative">
        <div class="contenedor">

          <div class="logos animate">
            <div class="mmt">
              <a href="#;">
                <img src="images/mimejortactica-logo.png" alt="Mi Mejor Táctica. LG">
              </a>
            </div>
            <div class="ecdf">
              <a ui-sref="estadio_cdf">
                <span><img src="images/estadio-cdf-logo.png" alt="Estadio CDF"></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  <span>Ver más</span></p>
              </a>
            </div>
            <div class="elg">
              <a ui-sref="estadio_lg">
                <span><img src="images/estadio-lg-logo.png" alt="Estadio LG"></span>
                <p>No te pierdas los detalles de tus partidos y ligas favoritas, en tiempo real, con esta aplicación exclusiva para SmartTV LG. <span>Ver más</span></p>
              </a>
            </div>
          </div><!--// .logos //-->
            
          <div class="hinchas animate">
            <div class="imghinchas"><img src="images/hinchas.png" alt="hinchas"></div>
          </div><!--// .hinchas //-->

          <div class="forma animate">
            <div class="txt">
              <h1>¡Arma tu mejor táctica y sale a ganar!</h1>
              <p>Comparte tu táctica ideal para la Selección en 140 caracteres para ganar y participa por un <strong>Smart TV LG  + X meses de Estadio CDF</strong>. <span>Mientras más votos obtengan tus tácticas, ¡más posibilidades tienes de ganar!</span></p>
              <span class="number">1</span>
              <ul class="logeo animate">
                <li class="facebook"><a href="/api/auth/facebook" target="_self">Ingresa vía <span>Facebook</span></a></li>
                <li class="twitter"><a href="/api/auth/twitter" target="_self">Ingresa vía <span>Twitter</span></a></a></li>
              </ul>
            </div>
            <div class="tv"><img src="images/tv-lg.png" alt="Smart TV LG"></div>
          </div><!--// .forma //-->
            
          <div class="last">
            <div>
              <ul>
                <li><a href="javascript:{}" data-sgk-terms>Bases del concurso</a></li>
              </ul>
              <a href="http://www.lg.com/cl/televisores" target="_blank" title="LG. Life's Good"><img src="images/LG-logo.png" alt="LG logo"></a>
            </div>
          </div>

        </div><!--// .contenedor //-->
      </div><!--// .relative //-->