<div class="overlay">
  <div class="dialogos">
    <div class="cell">
      <img src="images/mail-icon.png" alt="">
    </div>
    <div class="cell">
      <form id="mailfacebook" name="form" ng-submit="user_update(form)" novalidate>
        <h3>Confirma tu correo</h3>
        <p>Para continuar confirma tu correo electrónico, donde te avisaremos si resultas ganador del sorteo.</p>
        <input type="text" name="email" id="email" ng-model="user.email" required>
        <input type="submit" ng-click="submitted = true" class="btn" value="Confirmar">
        <p ng-show="submitted && form.email.$error.required" class="error">Campo requerido</p>
      </form>
    </div>
  </div>
</div>