<div class="overlay">
  <div class="dialogos" id="moderacion">
    <div class="cell mod">
      <img src="images/alert-mod.png" alt="">
    </div>
    <div class="cell txt">
        <h3>Off side!</h3>
        <p>Para participar en <strong>#MiMejorTáctica</strong> debes registrarte</p>
        <ul class="logeo animate" ng-if="!currentUser">
          <li class="facebook"><a href="/auth/facebook" target="_self">Ingresa vía <span>Facebook</span></a></li>
          <li class="twitter"><a href="/auth/twitter" target="_self">Ingresa vía <span>Twitter</span></a></a></li>
        </ul>
    </div>
    <div class="cerrar"><a href="javascript:{}">Cerrar</a></div>
  </div>
</div>