<div class="contenedor">
  <ul class="nav">
    <li ui-sref-active="active"><a ui-sref="home"><span>1</span> Home</a></li>
    <li ui-sref-active="active"><a ui-sref="strategy"><span>2</span> Mi Mejor Táctica</a></li>
    <li ui-sref-active="active"><a ui-sref="votes"><span>3</span> Tácticas</a></li>
    <li ui-sref-active="active"><a ui-sref="positions"><span>4</span> Tabla de Posiciones</a></li>
    <li class="inactive"><a ui-sref="wins"><span>5</span> Ganadores</a></li>
  </ul>
  <ul class="apps">
    <li class="applg"><a href="#;"><span>LG</span> Estadio LG</a></li>
    <li class="appecdf"><a href="#;"><span>ECDF</span> Estadio CDF</a></li>
  </ul>
</div>