<div class="overlay">
  <div class="lightbox">
    <div class="square">
      <div class="term-cond" ng-scrollbar>
        <div>

          <h2>BASES CONCURSO “Mi Mejor Táctica”</h2>
          <h3>LG ELECTRONICS INC. CHILE LIMITADA</h3>
          <p>
            LG Electronics Inc. Chile Limitada, Rut N° 76.014.610-2, representada legalmente por el señor José Miguel Lira López, Cédula de Identidad Nº 13.659.520-2, ambos con domicilio en Avda. Isidora Goyenechea Nº2800, piso 10, Vitacura, Santiago, Chile -en adelante indistintamente “LGE”- viene en otorgar las siguientes bases del concurso denominado “Mi Mejor Táctica”.
          </p>
          <h5>PRIMERO:</h5>
          <p>
            1.1 La presente promoción se denominará “Mi Mejor Táctica”.
          </p>
          <h5>SEGUNDO:</h5>
          <p>
            2.1 LGE efectuará a contar del día 4 de junio de 2014 hasta el 24 de junio de 2014, ambas fechas inclusive, una promoción dentro del territorio nacional, denominada “Mi Mejor Táctica” a través del minisitio www.mimejortactica.cl, actividad promocional.
          </p>
          <h5>TERCERO:</h5>
          <p>
            3.1 Los interesados en participar de esta promoción, deberán ingresar a la página web antes citada y seguir los pasos detallados en la siguiente mecánica del apartado.
          </p>
          <p>
            3.2. Si participa siguiendo las instrucciones que el concurso especifica, podrá ser acreedor de los premios estipulados en la cláusula Quinta (5) de estas bases, que esta promoción contempla regalar. 
          </p>
          <p>
            3.3 Podrán participar en esta promoción sólo usuarios, a nivel nacional, que hayan completado todos los pasos establecidos en el apartado 3.4. y cumplan las condiciones establecidas en las presentes bases de concurso.
          </p>
          <p>
            3.4 Para participar en esta promoción, es requisito indispensable que el usuario siga las instrucciones detalladas a continuación; si alguno de estos pasos no es cumplido en su totalidad, el usuario no será considerado participante: <br/>
            1.- Para participar, deberá ingresar al sitio web señalado con anterioridad e iniciar sesión conectándose con su cuenta de Facebook o Twitter, con lo cual acepta las bases del concurso detalladas en este documento. <br/>
            2.- El usuario deberá escribir una táctica en 140 caracteres como máximo, relacionada al encuentro de fútbol señalado en la gráfica y publicarla en el sitio web. <br/>
            a.- Un usuario podrá escribir tantas tácticas como desee, mientras éstas cumplan con el reglamento establecido en estas bases de concurso. Las publicaciones que incluyan palabras ofensivas no serán admitidas de inmediato, y serán revisadas editorialmente antes de ser mostradas en el sitio. <br/>
            c.- Cada táctica que publique un usuario debe aludir al partido de fútbol al que hacer referencia la gráfica, y no a otro encuentro deportivo disputado por algún otro equipo de fútbol del país o selección nacional.<br/>
            d.- Los 140 caracteres en los que deberá escribir su táctica deben incluir el hashtag #MiMejorTactica. <br/>
            3.- La táctica publicada por el usuario ingresará a una lista, ubicada en la sección Tácticas, donde se encontrarán todas las tácticas alusivas al encuentro deportivo que se comunica en la gráfica del sitio y que participan por el premio asociado a ese sorteo. El usuario tendrá tres formas de obtener más posibilidades de ganar:<br/>
            a.- Invitar a amigos a participar del concurso y votar por su táctica, a la cual podrán acceder buscando el nombre del usuario en el buscador destinado para ese fin en la sección Tácticas. Mientras más votos obtenga su táctica, más posibilidades tiene de ganar.<br/>
            b.- Publicar numerosas tácticas, lo cual aumentará la probabilidad de que una de sus tácticas sea vista por los usuarios en la sección Tácticas y obtener votos para ella. Los votos de cada táctica son independientes, y no se suman para dar al usuario un total de votos obtenidos, pero cada táctica votada por los usuarios incrementa sus posibilidades de ganar. <br/>
            c.- Sus tácticas aparecerán en la sección Tabla de posiciones, que ordenará las tácticas asociadas al partido aludido desde la más votada a la menos votada. Desde esta sección también podrán obtener votos para sus tácticas por parte de los usuarios que estén participando en el concurso.<br/>
            4. Los usuarios podrán ingresar tácticas para participar por el premio asociado al sorteo indicado en el concurso sólo hasta que se acaba el contador regresivo ubicado en el sitio web. Tras este límite, no podrán ingresar más tácticas y sólo serán elegibles para obtener el premio las que fueron ingresadas correctamente. No obstante, los participantes podrán seguir invitando a otros usuarios a votar por sus tácticas hasta las 23:59 horas del día del partido que da origen al sorteo.<br/>
            5.- Las votaciones se cerrarán al finalizar el día del encuentro deportivo asociado al concurso -0:00 del día siguiente- tras lo cual el ganador del premio será sorteado al azar entre los participantes que hayan ingresado correctamente una o más tácticas, considerando las posibilidades extra de ganar si obtuvo gran cantidad de votos en las tácticas que publicó. El emisor de la táctica sorteada será el legítimo ganador. <br/>
            6.- El resultado de este sorteo se comunicará 15 minutos después de finalizar las votaciones -0:15 horas del día siguiente al partido que dio origen al sorteo- a través del sitio web www.mimejortactica.cl y la cuenta de Twitter @EstrategaLG. <br/>
            7. Habrá sólo un ganador por sorteo; si el ganador no pudiera recibir el premio, por incumplir alguno de los artículos señalados en estas bases de concurso, se sorteará un nuevo ganador al azar, siguiendo la misma regla del 25% más votado mencionada anteriormente, y este mecanismo se repetirá, en caso de ser necesario, hasta encontrar a un ganador válido.<br/>
            8. Una vez anunciado el ganador de un sorteo, comenzará otra cuenta regresiva que dará origen a un nuevo sorteo, con las mismas características y mecánica del anterior, ofreciendo uno de los premios que se especifican en el artículo QUINTO. Las tácticas compartidas para el sorteo anterior dejarán de aparecer en la sección Tácticas, dando lugar a las tácticas que los usuarios publiquen para participar en este nuevo sorteo. De igual modo, la Tabla de posiciones sólo mostrará y considerará las tácticas más votadas para el sorteo vigente. Esto se repetirá cada vez que inicie una nueva instancia de sorteo.
          </p>
          <p>
            3.5 Estará prohibido y será anulado cualquier intento o método de participación en el concurso que se realice por cualquier proceso, técnica o mecánica de participación distinta a la detallada precedentemente. La utilización de técnicas de participación en el concurso de naturaleza robótica, repetitiva, automática, programada, mecanizada o similar llevará a la anulación de la participación de que se trate. En caso de controversia relacionada con la identidad de un participante, el titular de la dirección de correo electrónico utilizada durante el proceso de participación en la Promoción, será considerado como el usuario concursante. El Organizador no será responsable por aquellas participaciones que no se reciban a causa de fallas de transmisión o técnicas de cualquier tipo no imputables al Organizador.
          </p>
          <h5>CUARTO:</h5>
          <p>
            4.1 Podrá participar en el Concurso, toda persona natural residente en Chile, mayor de 18 años, que desee participar, cualquiera sea su sexo u ocupación, salvo que se trate de las personas que se mencionan en el siguiente punto.
          </p>
          <p>
            4.2 Quedarán excluidos del presente Concurso las siguientes personas: <br/>
            a.- Funcionarios de LGE.<br/>
            b.- Distribuidores y sus funcionarios.<br/>
            c.- Vendedores de productos LGE.<br/>
            d.- Revendedores de productos LGE.<br/>
            e.- Funcionarios de agencias digitales que prestan servicios a LGE en el presente proyecto.<br/>
            f.- Cualquier persona que haya participado directa o indirectamente en la creación de estas bases de concurso.<br/>
            g.- Los parientes directos de las personas señaladas anteriormente, entendiendo por ellos a los padres, hijos, hermanos y cónyuge.
          </p>
          <h5>QUINTO:</h5>
          <p>
            5.1 Todas las personas que participen en el presente concurso según las indicaciones de estas bases tendrán la oportunidad de ser ganador de uno de los premios detallados a continuación: <br/>
            Smart TV LG Cinema 3D FHD 42", modelo LB6500, con las siguientes características:
          </p>
          <ul>
            <li>WebOS.</li>
            <li>Cinema 3D.</li>
            <li>Time Machine II.</li>
            <li>WiFi incorporado.</li>
            <li>Dual Play.</li>
          </ul>   
          <p>
            6 meses de suscripción a la aplicación Estadio CDF, que da acceso exclusivo a la visualización de partidos de fútbol chileno vía streaming de alta calidad en un SmartTV.<br/>
            Los usuarios que participen en cada instancia de sorteo y que cumplan con los criterios de selección detallados en el artículo TERCERO entrarán al sorteo de uno de los premios anteriormente detallados, según corresponda al sorteo en que participan. Cada instancia de sorteo entregará, al ganador resultante, el premio señalado para el sorteo en el que participó.<br/>
            Existirán dos tipos de sorteo:<br/>
            1.- Sorteo por un ganador de 6 meses gratis de Estadio CDF, donde participan todos los usuarios que ingresaron correctamente una táctica para el evento deportivo que origina el sorteo. Se realizarán tres sorteos de este tipo, los días 13, 18 y 23 de junio de 2014.<br/>
            2.- Sorteo final de la promoción, por un ganador de 1 Smart TV LG Cinema 3D FHD 42" modelo LB6500, donde participan todos los usuarios que ingresaron correctamente una táctica para alguno de los tres eventos deportivos previos a este sorteo, el que se llevará a cabo el día 24 de junio de 2014.<br/>
            El sorteo de cada ganador se realizará al azar, entre los participantes de la promoción de acuerdo a los criterios estipulados en el artículo TERCERO, de manera privada en las oficinas de LG.<br/>
            Los ganadores se comunicarán en el sitio www.mimejortactica.cl y en la cuenta de Twitter perteneciente a las redes sociales de LGE @EstrategaLG 15 minutos después de finalizado el día de cierre de cada concurso. Además, se hará llegar un correo electrónico al ganador, al instante de ser sorteado, informándole de su condición.<br/>
          </p>
          <p>
            5.2 LGE coordinará la entrega del premio dentro de las 48 horas siguientes al anuncio del ganador de un sorteo, para cada sorteo realizado en el marco de estas bases de concurso, y podrá recibir su premio desde el día en que fue anunciado como legítimo ganador hasta 30 días hábiles desde este día.
          </p>
          <p>
            5.3 LGE responderá por los productos (Smart TV LG Cinema 3D FHD 42", modelo LB6500), en los términos señalados por el certificado de garantía limitada establecido por el fabricante de los equipos, y que se adjunta a cada uno de ellos. Asimismo, el responsable de la aplicación para SmartTV Estadio CDF, CDF, responderá ante cualquier eventualidad por el cumplimiento de las condiciones estipuladas en estas bases de concurso.
          </p>
          <p>
            5.4 No se efectuarán cambios de premios. Los premios no podrán ser canjeados por dinero u otra alternativa. Los premios son personales e intransferibles. 
          </p>
          <h5>SEXTO:</h5>
          <p>
            6.1 LGE publicará el nombre de los ganadores en el sitio www.mimejortactica.cl y dicha publicación se mantendrá hasta 30 días después de finalizadas todas las instancias de concursos y respectivos sorteos de la promoción. Las personas seleccionadas serán contactadas por LGE dentro de las 48 horas siguientes a su anuncio oficial como legítimos ganadores, y cada ganador tendrá hasta 24 horas después de ser contactadas por LGE para aceptar el premio; de no cumplir con este requerimiento, perderá su derecho al premio sin derecho a ninguna compensación posterior.
          </p>
          <p>
            6.2 Será deber primordial de cada ganador contactar a LGE por medio de un correo electrónico dirigido a bloglgchile@gmail.com, sin perjuicio que LGE podrá realizar las gestiones necesarias para contactar a dicho ganador a través del correo electrónico registrado en la etapa inicial del concurso. LGE no responderá en caso que el ganador no pueda ser contactado por cualquier causa o motivo.
          </p>
          <p>
            6.3 En caso que el ganador no pudiese ser contactado por LGE dentro del plazo indicado anteriormente o el ganador no tomare contacto con LGE para cobrar su premio dentro del mismo plazo, éste caducará automáticamente sin necesidad de declaración alguna. En dicho evento, el premio podrá ser asignado a una nueva instancia de concurso y sorteo, en el marco de “Mi Mejor Táctica” u otro concurso llevado a cabo por LGE.
          </p>
          <p>
            6.4 No existirán ganadores de reemplazo, en ninguna de las instancias de concurso y sorteo reglamentadas por estas bases de concurso.
          </p>
          <p>
            6.5 LGE se reserva el derecho de dejar sin efecto el pago del premio, en caso que los datos aportados por el ganador resulten ser falsos o en caso que intente intervenir de cualquier manera el sorteo.
          </p>
          <p>
            6.6 El hecho de que LGE no elimine los nombres de los ganadores de la página web, una vez transcurridos los plazos señalados en la presente cláusula, no podrá interpretarse en el sentido que dicha persona mantiene el derecho a percibir el premio. 
          </p>
          <h5>SÉPTIMO:</h5>
          <p>
            7.1 Los datos personales que se requerirán para hacer entrega del premio final consistirán Nombre (a través de un documento de identificación legal, vigente y provisto por el Estado de Chile en sus diferentes instancias) y Correo Electrónico. Es requisito indispensable para participar en esta promoción que los antecedentes entregados sean reales y válidos. 
          </p>
          <p>
            7.2 Los datos antes referidos serán utilizados por LGE únicamente para la creación de bases de datos de sus clientes y tratamiento de los mismos en forma consistente con la Ley 19.628. Estas bases se utilizarán preferentemente para efectuar investigaciones de mercado, publicidad, comunicaciones de comercialización o venta directa de productos y servicios, y para llevar a efecto encuestas. Los datos entregados a LGE no serán puestos en conocimiento del público, salvo lo expuesto en estas bases.
          </p>
          <p>
            7.3 Todas las personas que toman parte como concursante o en cualquier otra forma en el presente concurso, han conocido y aceptado íntegramente estas bases, y autorizan a LGE a usar los datos en la forma señalada. 
          </p>
          <h5>OCTAVO:</h5>
          <p>
            8.1 Una vez conocida la identidad de las personas ganadoras, LGE estará facultada para comunicar la identidad de los ganadores, grabar, filmar y fotografiar a los mismos, para ser exhibidas en cualquier medio de comunicación social, con el objeto de fomentar la credibilidad de la misma.
          </p>
          <p>
            8.2 Es condición indispensable para recibir el premio que el concursante ganador otorgue las facilidades en materia de publicidad y promoción del concurso, para los efectos de tomarles fotografías, videos y autorizan desde ya su publicación, en los medios que LGE estime convenientes, sin que el ganador tenga derecho a contraprestación, pago o indemnización alguna por este concepto. No se podrá reclamar exclusividad, ni derechos para exhibición. Esta condición es elevada por LGE como esencial para hacer entrega del premio a los ganadores, de tal manera que si el ganador no da las facilidades aludidas, perderá cualquier derecho a reclamo y al premio obtenido.
          </p>
          <h5>NOVENO:</h5>
          <p>
            9.1 Se entenderá que todas las personas que, directa o indirectamente, toman parte como concursante o en cualquier otra forma en el presente concurso, han conocido y aceptado íntegramente éstas bases, careciendo del derecho a deducir reclamo o acción de cualquier naturaleza en contra de LGE y que, asimismo, han otorgado su consentimiento a la difusión de su imagen y voz con motivo del  presente concurso.
          </p>
          <p>
            9.2 LGE se reserva el derecho de modificar las presentes bases en forma total o parcial, debiendo comunicar dicha circunstancia mediante la protocolización de las modificaciones en la Notaría donde fueron protocolizadas.
          </p>
          <p>
            9.3 Será causal de descalificación inmediata, con la consecuente pérdida de todo derecho a cualquier premio obtenido, la circunstancia que el concursante intente alterar, por cualquier medio y de cualquier forma, los resultados del concurso. Será también causal de descalificación inmediata el aprovecharse de cualquier error de programación informática del concurso, ya sea en beneficio propio y/o beneficio o perjuicio de terceros. 
          </p>
          <p>
            9.4 LGE se reserva el derecho de iniciar las acciones legales que procedan en caso de detectar irregularidades durante la promoción, tales como falsificación, suplantación de personas, adulteración de información, etc.
          </p>
          <p>
            9.5 Las presentes bases se protocolizarán en la Notaría de Santiago de don Eduardo Avello Concha y copias de ellas se publicarán en las oficinas de LG Electronics Inc. Chile Ltda.
          </p>

        </div>
      </div>      
    </div>
    <div class="cerrar"><a href="javascript:{}">cerrar</a></div>
  </div>
</div>