<div class="listar" ng-repeat="s in strategies" data-search="{{ s.user.name }} {{ s.user.twitter_screen_name }}">
  <div class="cell pic">
    <img src="{{ s.user.avatar }}">
  </div>
  <div class="cell center">
    <div class="cell">
      <div class="username">{{ s.user.name }} <span ng-if="s.user.twitter_screen_name">{{ s.user.twitter_screen_name }}</span></div>
      <div class="usertactics">
        <div class="mmt"><span>#</span>mimejor<span>táctica</span></div>
      </div>
    </div>
      
      <p data-sgk-insert-newline="{{ s.content | removePlus }}"></p>
  </div>
  <div class="cell buttons">
    <ul class="impbuttons">
      <li class="votar">
        <div data-sgk-button-vote data-sgk-user-id="{{ s.user._id }}" data-sgk-strategy-id="{{ s._id }}" data-sgk-match-id="{{ s.match._id }}"></div>
      </li>
      <li class="sharebtn facebook"><a href=""><span>Facebook</span> Comparte</a></li>
      <li class="sharebtn twitter"><a href=""><span>Twitter</span> Tuitea</a></li>
    </ul>
  </div>
</div>