
<div class="row">
  <div class="pull-right" data-sgk-library-modal></div>
</div>

<div class="row item" ng-repeat="strategy in strategies">
  <div class="col-sm-12 well">
    <blockquote>
      <p>{{ strategy.content | removePlus }}</p>
      <footer>
        {{ strategy.user.name }} 
        <cite title="Source Title">{{ strategy.created_at | formatDate }}</cite>
      </footer>
    </blockquote>
    <div class="pull-right">
      <a href="javascript:{}" class="btn btn-success" ng-click="approved(strategy._id, $index)">Aceptar</a>
      <a href="javascript:{}" class="btn btn-danger" ng-click="rejected(strategy._id, $index)">Rechazar</a>
    </div>
  </div>
</div>