<form name="form" class="form-horizontal" ng-submit="create(form)">
  
  <div class="modal-header">
    <h3 class="modal-title">Crear Partido</h3>
  </div>
  <div class="modal-body">
    
    <div class="form-group">
      <label for="team_one">Local</label>
      <select name="team_one" class="form-control" ng-model="match.team_one">
        <option value=""></option>
        <option value="CHILE">Chile</option>
        <option value="HOLANDA">Holanda</option>
      </select>
    </div>

    <div class="form-group">
      <label for="team_two">Visita</label>
      <select name="team_two" class="form-control" ng-model="match.team_two">
        <option value=""></option>
        <option value="CHILE">Chile</option>
        <option value="HOLANDA">Holanda</option>
      </select>
    </div>

    <div class="form-group">
      <label for="team_two">Fecha del encuentro</label>
      <input type="text" class="form-control" ng-model="match.match_at" />

      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <i class="glyphicon glyphicon-time"></i>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li>
            <datetimepicker 
              data-ng-model="match.match_at" 
              data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle' }"
              data-minute-step="5"
              ></datetimepicker>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success">Crear</button>
    <button class="btn btn-primary" ng-click="close()">Cerrar</button>
  </div>

</form>