<form name="form" class="form-horizontal" ng-submit="create(form)">
  
  <div class="modal-header">
    <h3 class="modal-title">Crear Sorteo</h3>
  </div>
  <div class="modal-body">

    <div class="form-group">
      <label for="team_two">Tipo de sorteo</label>
      <select name="type" class="form-control" ng-model="sweepstake.type" required>
        <option value="MATCH">Partido</option>
        <option value="GROUP">Final de grupo</option>
      </select>
    </div>
    
    <div class="form-group" ng-show="sweepstake.type == 'MATCH' ? true : false">
      <label for="matches">Partido</label>
      <select name="matches" class="form-control" ng-options="m.id as m.label for m in matches" ng-model="sweepstake.match">
        <option value=""></option>
      </select>
    </div>

    <div class="form-group" ng-show="sweepstake.type == 'GROUP' ? true : false">
      <div class="btn-group" dropdown>
        <button type="button" class="btn btn-default dropdown-toggle col-sm-12" ng-disabled="disabled">
          Selecciones partidos <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="s in sweepstakes">
            <a href="javascript:{}" ng-click="addSweepstakes(s)">{{ s.match }}</a>
          </li>
        </ul>
      </div>
      <div style="margin-top: 10px;">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="item in sweepstake.sweepstakes">
            {{ item.match }}
            <a href="javascript:{}" class="btn btn-danger btn-xs pull-right" ng-click="removeSweepstakes(item)">remover</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="form-group">
      <label for="team_two">Fecha de sorteo</label>
      <input type="text" class="form-control" ng-model="sweepstake.init_at" />

      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <i class="glyphicon glyphicon-time"></i>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li>
            <datetimepicker 
              data-ng-model="sweepstake.init_at" 
              data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle' }"
              data-minute-step="5"
              ></datetimepicker>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success">Crear</button>
    <button class="btn btn-primary" ng-click="close()">Cerrar</button>
  </div>

</form>